@ui-select-bg-color: #7dbd33;
@ui-select-hover-bg-color: #65a718;
@ui-select-color: #fff;
@ui-select-hover-color: #fff;
@ui-select-nav-bg-color: #fff;

//icons
@ui-icon-selected: #4a90e2;
@ui-icon-selected-hover: #fff;

//messaging
@ui-msg-success-color: #7dbd33;
@ui-msg-error-color: #d9534f;
@ui-msg-info-color: #4a90e2;
