
<table>
  <tr>
    <th>
      host
    </th>
    <th>
      port
    </th>
    <th></th>
  </tr>
  <tr ng-repeat="loadbalancer in loadBalancers">

    <td>{{ loadbalancer.host }}</td>
    <td>{{ loadbalancer.port }}</td>
    <td><button class="link-cmd" ng-click="deleteLoadBalancer(loadbalancer)"><span>(x)</span></button></td>

  </tr>
</table>


<form class="ui-form">
  <input placeholder="host" class="ui-input" ng-model="currentLoadBalancer.host" />
  <input placeholder="port" class="ui-input" ng-model="currentLoadBalancer.port"  />
  <input placeholder="username" class="ui-input" ng-model="currentLoadBalancer.username" />
  <input placeholder="password" class="ui-input" ng-model="currentLoadBalancer.password" />
  <button class="ui-btn small" ng-click="saveLoadBalancer()">add lb</button>
</form>

