<ng-form name="processForm">
  <div
    class="ui-form-group selectable"
    ng-class="{ invalid: processForm.processes.$invalid && processForm.processes.$dirty, valid: processForm.processes.$valid }"
    ng-click="itemSelect($event)">
    <input
      type="number"
      name="processes"
      class="ui-input"
      placeholder="(eg. 4)"
      min="1"
      ng-change="updateProcessCount(host)"
      ng-model="host.targetProcessCount"
      ng-disabled="host.status.isProblem || host.status.isBusy" />
  </div>
</ng-form>
