<form class="ui-form">
  <h4 class="ui-group-label">Load Balancer</h4>
  <table class="ui-table">
    <thead>
    <tr>
      <th>Host</th>
      <th>Port</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
      <tr class="ui-sans-tr">
        <td>
          <input type="text" placeholder="host" sl-common-select-on-click class="ui-input load-balancer-host" ng-model="loadBalancer.host" />
        </td>
        <td>
          <input type="text" placeholder="port" sl-common-select-on-click class="ui-input load-balancer-port" ng-model="loadBalancer.port" />
        </td>
        <td>
          <button class="ui-btn small" ng-click="saveLoadBalancer()">Save</button>
        </td>
        <td>
          <a href class="ui-close" ng-click="deleteLoadBalancer()">(x)</a>
        </td>
      </tr>
    </tbody>
  </table>

</form>
