<ng-form name="hostForm">
  <div
    class="ui-form-group selectable"
    ng-class="{ invalid: hostForm.host.$invalid && hostForm.host.$dirty, valid: hostForm.host.$valid }"
    ng-click="itemSelect($event)">
    <input
      class="ui-input manager-host-name-input"
      type="text"
      name="host"
      ng-model="host.host"
      placeholder="Enter host (eg: www{{id}}.example.com)"
      typeahead-focus-first="false"
      typeahead-on-select="onPMServerSelectAutoCompleted($item, 'host')"
      typeahead="server as server.host + ' : ' + server.port for server in pmServers"

      ng-minlength="8"
      required
      ng-focus="itemFocus($event)"
      ng-blur="itemBlur($event)">
    <span class="msg error" ng-show="hostForm.host.$invalid && hostForm.host.$dirty">Please enter host</span>

    <!-- host actions -->
    <div class="btn-group dropdown manager-host-actions-container" dropdown>
      <button type="button"
              class="link-cmd dropdown-toggle"
              ng-disabled="host.errorType"
              dropdown-toggle>
        Actions<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" dropdown-menu>
        <li ng-repeat="action in host.filteredActions" class="ui-sans-btn" ng-show="action.filter(host)">
          <button ng-click="action.handler(host)" class="link-cmd">{{ action.label }}</button>
        </li>
      </ul>
    </div>
  </div>
</ng-form>
