<div class="status-field">
  <span class="status ui-sans-btn host-status-display"
          ng-class="{ problem: host.status.isProblem, inactive: host.status.isNoApp, inactive: host.status.isInactive, active: host.status.isActive }">
    <span class="status-txt">{{ host.status.display }}</span>

    <span ng-show="host.status.isProblem || host.status.isNoApp">
      <sl-popover-info icon="sl-icon sl-icon-question-mark"
                       hideonpageclick="true" showontrue="clickedButton">
        <h4>{{ host.status.problem.title }}</h4>
        <div class="body">
          <p>{{ host.status.problem.description }}</p>
        </div>
      </sl-popover-info>
    </span>
  </span>

  <button title="{{ host.status.actionLabel }}"
          class="status-icon"
          ng-click="activateHost(host)">
    <i class="icon" ng-class="{ active: host.status.isActive, inactive: !host.status.isActive}"></i>
  </button>
</div>
