<div class="manager-main-layout">
<div class="modal-header">
  <h4>{{ title }}</h4>
</div>
<div class="modal-body asymmetric env-editor-container">
  <table class="ui-table" sl-ui-data-table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="variable in envVariables | orderBy:['priority', 'key']">
        <td class="has-selectable">
          <div class="ui-form-group">
            <input class="ui-input selectable" placeholder="VARIABLE_NAME"
              ng-model="variable.key">
          </div>
        </td>
        <td class="has-selectable">
          <div class="ui-form-group">
            <input class="ui-input selectable" placeholder="Variable value"
              ng-model="variable.value">
          </div>
        </td>
        <td class="actions">
          <a href="" class="ui-close" ng-click="delete(variable)"></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="ui-sans-tr">
        <td colspan="2">
            <button type="button" class="ui-btn accessory small pull-left" ng-click="new()">
              <span class="sl-icon sl-icon-plus-sign"></span>
              Add Variable
            </button>
          </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="modal-footer">
  <button type="submit" class="ui-btn primary small pull-right" ng-click="save()">
    Save
  </button>
  <button type="button" class="ui-btn secondary small pull-right" ng-click="cancel()">
    Cancel
  </button>
</div>
</div>
