<div class="container" data-id="ModelPropertyEditorContainer">
  <ul class="default-model-editor-controls-list">
    <li ng-show="isPropertyEditorActive()" >
      <em ng-show="checkUniquePropStatus()" class="warning-message">name must be unique</em>
      <input type="text"
             placeholder="add new property"
             name="PropertyName"
             ng-model="currProperty.name"
             ng-change="propertyNameUpdate()"
             focus-on="propertyEditInit"
             ng-class="{'name-not-unique': checkUniquePropStatus()}"
             required  />
    </li>
    <li ng-show="isPropertyEditorActive()" >
      <select ng-model="baseDataType" ng-options="c.name for c in baseDataTypes"></select>
    </li>
    <li>
      <input type="button"
             ng-click="addProperty(propertyName)"
             ng-disabled="isAddPropertyButtonDisabled()"
             class="btn btn-xs btn-primary"
             value="add property" />
    </li>
    <li ng-show="isPropertyEditorActive()" >
      <input type="button"
             ng-model="currProperty"
             value="&times;"
             class="close"
             aria-hidden="true"
             ng-click="deactivatePropertyEditor()" />
    </li>
  </ul>
</div>

