<div class="container-fluid">
  <input ng-click="togglePropertyView()" type="button" class="model-instance-header-btn btn btn-default btn-block" value="Properties" />
  <div ng-show="isPropertyViewActive" class="sample-show-hide">
    <div class="model-instance-container property-list-header">
      <div data-ui-type="table">
        <div data-ui-type="row" class="model-instance-property-table-header-row">
          <span data-ui-type="cell" class="props-name-cell table-header-cell" title="property name">name</span>
          <span data-ui-type="cell" class="props-data-type-cell table-header-cell" title="data type">type</span>
          <span data-ui-type="cell" class="props-isid-cell table-header-cell" title="is index">index</span>
          <span data-ui-type="cell" class="props-default-value-cell table-header-cell" title="default value"></span>
          <span data-ui-type="cell" class="props-required-cell" title="required">req</span>
          <span data-ui-type="cell" class="props-map-cell table-header-cell header" title="relations">rel.</span>
        </div>
      </div>
    </div>
    <!--<div model-property-pocket-editor></div>-->
    <ul class="model-instance-property-list">
      <li ng-repeat="property in currModel.properties">
        <div ng-class="{'model-instance-container is-open': !isCollapsed, 'model-instance-container': isCollapsed}">
          <div data-ui-type="table">
            <div data-ui-type="row">
            <span data-ui-type="cell" class="props-name-cell">
              <input type="button"
                     ng-model="property"
                     value="{{ property.name }}"
                     class="btn btn-sm btn-default btn-block"
                     ng-click="isCollapsed = !isCollapsed" />
            </span>
            <span data-ui-type="cell" class="props-data-type-cell">
              <input type="button"
                     class="btn btn-sm btn-default"
                     value="{{ property.props.type }}"
                     ng-model="property.props.type" />
            </span>
            <span data-ui-type="cell" class="props-isindex-cell">
              <input type="checkbox" />
            </span>
            <span data-ui-type="cell" class="props-default-value-cell">
              <input type="text" class="model-instance-editor-input" placeholder="default value" ng-model="property.props.default">
            </span>
            <span data-ui-type="cell" class="props-required-cell">
              <input type="checkbox" />
            </span>
            <span data-ui-type="cell" class="props-connection-cell">
              <button class="btn btn-link" ng-click="isThisCollapsed = !isThisCollapsed">
                <span class="glyphicon glyphicon-flash"></span>
              </button>

            </span>
            </div>
          </div>
          <!-- Model Properties Pocket Editor Comtainer -->
          <div model-pocket-editor-container collapse="isCollapsed" ng-model="property"></div>
          <div collapse="isThisCollapsed">
            <div property-connection-editor></div>
          </div>
        </div>
      </li>
    </ul>
  </div>


</div>
