<div>
  <select ng-model="displayType"
            ng-change="handleChange(displayType)">
      <option ng-value="type" ng-repeat="type in modelPropertyTypes" ng-selected="type == displayType">{{type}}</option>
    </select>
  <div class="array-detail-container" ng-class="{ 'is-open': isArray, 'is-closed': !isArray }">
    <label>of</label>
    <select ng-model="arrayType"
            data-name="sub-type"
            ng-change="handleArrayTypeChange(arrayType)">
      <option ng-value="type" ng-repeat="type in modelPropertyTypes" ng-selected="type == arrayType">{{type}}</option>
    </select>
  </div>
  <div class="property-type-object-definition-display">
    <div class="object-detail-container" ng-class="{ 'is-closed' : !isAnonObject, 'is-open': isAnonObject}">
      <button class="btn-command" ng-click="toggleAnonObjectDetails()">details</button>
      <div ng-show="showObjDetails">
        <code>
          {{ property.type  | json}}
        </code>
      </div>
    </div>
  </div>
</div>
