<div class="container" data-id="ModelOptionsEditorContainer">
  <ul class="default-model-editor-controls-list">
    <li ng-show="isOptionsEditorActive()" >
      <em ng-show="checkUniqueOptionStatus()" class="warning-message">name must be unique</em>
      <input type="text"
             placeholder="add new option"
             name="OptionName"
             ng-model="currOption.name"
             ng-change="optionNameUpdate()"
             focus-on="propertyEditInit"
             ng-class="{'name-not-unique': checkUniqueOptionStatus()}"
             required  />
    </li>
    <li ng-show="isOptionsEditorActive()" >
      <select ng-model="baseDataType" ng-options="c.name for c in baseDataTypes"></select>
    </li>
    <li>
      <input type="button"
             ng-click="addOption()"
             class="btn btn-xs btn-primary"
             value="add option" />
    </li>
    <li ng-show="isOptionsEditorActive()" >
      <input type="button"
             ng-model="currOption"
             value="&times;"
             class="close"
             aria-hidden="true"
             ng-click="deactivateEditor()" />
    </li>
  </ul>
</div>
