<div class="manager-main-layout pipeline-modal">
  <form class="ui-form">
  <div class="modal-header">
    <h4>New Pipeline</h4>
  </div>
  <div class="modal-body">
    <sl-pipeline-form
      pipeline="pipelineCtx.newPipeline"
      context="pipelineCtx"
      hidebuttons="true"
      is-modal="true">
    </sl-pipeline-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="ui-btn secondary small pull-left" ng-click="close()">
      Cancel
    </button>
    <button type="button" class="ui-btn primary small pull-right" ng-click="saveNewPipeline(pipelineCtx.newPipeline)">
      Save
    </button>
  </div>
  </form>
</div>
