<div class="manager-main-layout" ng-controller="PolicyMainController">
  <div class="modal-header">
    <h4>New Policy</h4>
  </div>
  <div class="modal-body">
    <sl-policy-form
      policy="policyCtx.newPolicy"
      context="policyCtx"
      hidebuttons="true"></sl-policy-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="ui-btn secondary small pull-left" ng-click="close()">
    Cancel
    </button>
    <button class="ui-btn primary small" ng-click="saveNewPolicy(policyCtx.newPolicy)">Add Policy</button>

  </div>

</div>
