<div class="manager-main-layout confirm">
  <form class="ui-form">
    <div class="modal-header">
      <h4>Are you sure?</h4>
    </div>
    <div class="modal-body">
      <p>If you change the pipeline, all of your policies will be replaced.</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="ui-btn secondary small pull-left"
        ng-click="close()">
        Cancel
      </button>
      <button
        type="button"
        class="ui-btn primary small pull-right"
        ng-click="_savePipeline(pipeline)">
        Replace
      </button>
    </div>
  </form>
</div>
