<div data-id="GatewayMapFormContainer">
  <form class="ui-form">
    <div data-id="GatewayMapFormTopRow">
      <div>
        <label>Mapping Name</label>
        <input class="gateway-map-main-input" ng-model="map.name" type="text" placeholder="name" />
      </div>
      <div>
        <label>Verb</label>
        <div dropdown class="dropdown-container">
          <button  dropdown-toggle
                   data-value="{{map.verb}}"
                   class="ui-btn accessory"
                   data-id="MappingVerbSelect">
            {{map.verb}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="link-cmd" ng-click="changeMapVerb(map, 'ALL')" data-id="ALL">ALL</button>
            </li>
            <li>
              <button class="link-cmd" ng-click="changeMapVerb(map, 'GET')" data-id="GET">GET</button>
            </li>
            <li>
              <button class="link-cmd" ng-click="changeMapVerb(map, 'PUT')" data-id="PUT">PUT</button>
            </li>
            <li>
              <button class="link-cmd" ng-click="changeMapVerb(map, 'POST')" data-id="POST">POST</button>
            </li>
            <li>
              <button class="link-cmd" ng-click="changeMapVerb(map, 'DELETE')" data-id="DELETE">DELETE</button>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <label>Url Pattern</label>
        <input ng-model="map.endpoint"
               type="text"
               class="gateway-map-main-input"
               placeholder="endpoint" />
      </div>
    </div>
    <div class="form-field gateway-map-pipeline-input-container">
      <label>Pipeline</label>
      <div dropdown class="dropdown-container">
        <button  id="simple-dropdown"
                 dropdown-toggle
                 class="ui-btn accessory"
                 data-id="MappingPipelineSelect">
          {{map.pipelineId || 'choose a pipeline'}}
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="pipe in context.currentPipelines">
            <button class="link-cmd" data-id="{{pipe.id}}" ng-click="setMapPipelineId(map, pipe.id)">{{pipe.name}}</button>
          </li>
        </ul>
      </div>
    </div>
    <table class="ui-table" ng-show="map.pipelineId">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="policy in map.pipeline.policies track by $index">
          <td><ui-icon name="policy-{{policy.type}}"></ui-icon></td>
          <td>{{policy.name}}</td>
          <td>
            <div ng-show="policy.type == 'ratelimiting'">
              <ul>
                <li>limit: {{policy.limit}}</li>
                <li>interval (ms): {{policy.interval}}</li>
              </ul>
            </div>
            <div ng-show="policy.type == 'reverseproxy'">
              targetURL: <span>{{policy.targetURL}}</span>
            </div>
            <div ng-show="policy.type == 'auth'">
              <span>scopes:</span>
              <ul>
                <li ng-repeat="scope in policy.scopes">
                  <div class="policy-scope-item">{{scope}}</div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <!--<button class="ui-btn secondary small"-->
              <!--ng-click="clearGatewayMapForm()"-->
              <!--ng-show="!hidebuttons">cancel</button>-->
      <!--<button class="ui-btn primary small"-->
              <!--ng-click="saveCurrentGatewayMap(map)"-->
              <!--ng-show="!hidebuttons">Add Map</button>-->
      <button ng-hide="hidebuttons"
              ng-disabled="!isMappingDirty"
              class="ui-btn primary small pull-right"
              ng-click="confirmSaveCurrentMapping(map)">Save</button>
    </div>
  </form>
</div>
