
<div data-id="GatewayMapListContainer" class="entity-list-container">
  <table class="ui-table mappings">
    <thead>
    <tr>
      <th>Name</th>
      <th>Endpoint(s)</th>
      <th>Pipeline</th>
      <th>Scopes</th>
      <th>Endpoint</th>
      <th class="actions"></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="gatewayMap in gatewayMapCtx.gatewayMaps track by $index">
        <td>
          <button class="link-cmd" ng-click="editGatewayMap(gatewayMap)">
            {{gatewayMap.name}}
          </button>
        </td>
        <td>
          <span>{{gatewayMap.verb}}</span>
          <span>{{gatewayMap.endpoint}}</span>
        </td>
        <td>
          <button class="link-cmd"
                  popover-template="mapPipelineDetailModal.templateUrl"
                  popover-placement="{{mapPipelineDetailModal.position}}"
                  ng-click="setupHidePopover($event, gatewayMap.pipeline)">
            {{gatewayMap.pipeline.name}}
          </button>

          <ul ng-show="gatewayMap.showPipelineDetails" class="pipeline-policy-sequence-list">
            <li ng-repeat="policy in latestPolicies track by $index">
              <button class="pipeline-policy-button">
                <div class="pipeline-policy-container">
                  {{policy.type}}
                  <br />
                  {{policy.name}}
                </div>
              </button>
              <br />
              <button class="link-cmd"
                      popover-template="policyDetailModal.templateUrl"
                      popover-placement="{{policyDetailModal.position}}"
                      ng-click="setupHidePopover($event, policy)">details</button>
            </li>
          </ul>
        </td>
        <td>
          <sl-gateway-map-list-scope-display scopes="gatewayMap.pipeline.scopes"></sl-gateway-map-list-scope-display>
        </td>
        <td>
          {{ gatewayMap.pipeline.targetURL }}
        </td>
        <td class="actions">
          <a href class="ui-close" ng-click="confirmDeleteGatewayMap(gatewayMap)">
            <i class="sl-icon sl-icon-close"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <button data-type="gatewaymap" ng-click="showAddNewGatewayMapForm()" class="link-cmd add-new" >
    <i class="sl-icon sl-icon-plus-sign"></i>Add New
  </button>
</div>
