<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell" data-id="MainSidebarContainer" class="top-level-container">
      <div data-ui-type="table">
        <div data-ui-type="row">
          <div data-ui-type="cell">
            <div sl-gateway-main-nav data-id="MainNavContainer"></div>
          </div>
        </div>
        <!--<div data-ui-type="row">-->
          <!--<div data-ui-type="cell">-->
            <!--<div sl-ia-main-controls data-id="MainControlsContainer"></div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">

      <div data-id="GatewayMainContainer">
        <tabset>
          <tab heading="Gateway Maps">

            <sl-gateway-map-main-view></sl-gateway-map-main-view>
          </tab>
          <tab heading="Pipelines">

            <sl-pipeline-main-view></sl-pipeline-main-view>
          </tab>
          <!--<tab  heading="Internal Endpoints">-->

          <!--</tab>-->
          <!--<tab heading="External Endpoints">-->

            <!--<sl-external-endpoint-main></sl-external-endpoint-main>-->

          <!--</tab>-->
          <!--<tab heading="Phases">-->
          <!--<sl-policy-scope-main-view></sl-policy-scope-main-view>-->
          <!--</tab>-->
          <tab heading="Policies">
            <sl-policy-main-view></sl-policy-main-view>
          </tab>
          <!--<tab heading="Policy Scope">-->

          <!--</tab>-->

        </tabset>



      </div>



    </div>
  </div>
</div>

