<div data-id="GatewayMapFormContainer">
  <form class="ui-form">
    <table>
      <tbody>
      <tr>
        <td>
          <div>
            <label>Map Name</label>
            <input ng-model="map.name" type="text" placeholder="name" />
          </div>
        </td>
        <td>
          <label>Verb</label>
          <select  class="form-control" ng-model="map.verb">
            <option>ALL</option>
            <option>GET</option>
            <option>PUT</option>
            <option>POST</option>
            <option>DELETE</option>
            <option>HEAD</option>
          </select>
        </td>
        </tr>
        <tr>
        <td>
          <div class="form-field">
            <label>Url Pattern</label>
            <input ng-model="map.endpoint"
                   type="text"
                   placeholder="endpoint" />
          </div>
        </td>
        <td>
          <div class="form-field">
            <label>Pipeline</label>
            <select  class="form-control"
                     ng-model="map.pipelineId"
                     ng-options="pipe.id as pipe.id for pipe in context.currentPipelines">
            </select>
            <!--<button class="link-cmd"><i class="sl-icon sl-icon-plus-sign"></i>New Pipeline</button>-->
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="ui-table">
      <thead>
      <tr>
        <th>
          type
        </th>
        <th>
          name
        </th>
        <th>
          details
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="policy in map.pipeline.policies">
        <td>{{policy.type}}</td>
        <td>{{policy.name}}</td>
        <td>
          <div ng-show="policy.type == 'ratelimiting'">
            <ul>
              <li>limit: {{policy.limit}}</li>
              <li>interval (ms): {{policy.interval}}</li>
            </ul>
          </div>
          <div ng-show="policy.type == 'reverseproxy'">
            targetURL: <span>{{policy.targetURL}}</span>
          </div>
          <div ng-show="policy.type == 'auth'">
            <span>scopes:</span>
            <ul>
              <li ng-repeat="scope in policy.scopes">
                <div class="policy-scope-item">{{scope}}</div>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <button class="ui-btn secondary small"
              ng-click="clearGatewayMapForm()"
              ng-show="!hidebuttons">cancel</button>
      <button class="ui-btn primary small"
              ng-click="saveCurrentGatewayMap(map)"
              ng-show="!hidebuttons">Add Map</button>
    </div>
  </form>
</div>
