<div data-id="GatewayMapFormContainer">
  <form class="ui-form no-border" name="form" novalidate>
    <div data-id="GatewayMapFormTopRow">
      <div class="ui-form-group" ng-class="{
            'valid': form.name.$valid,
            'invalid': form.name.$invalid }">
        <label>Mapping Name</label>
        <input class="ui-input map-name" name="name" ng-model="map.name" type="text" ng-minlength="4" placeholder="name">
        <span class="msg error" ng-show="form.name.$invalid">Please enter mapping name</span>
      </div>

      <div class="ui-form-group">
        <label>Verb</label>
        <div class="ui-menu-container verb-menu">
          <input type="text"
                 class="ui-input toggler"
                 ng-mousedown="showDropdownVerb = true"
                 ng-value="map.verb || 'Select Verb'">
          <sl-ui-menu-dropdown toggler="showDropdownVerb">
            <section class="menu">
              <ul>
                <li ng-class="{ selected: map.verb == 'ALL' }"><a href ng-click="changeMapVerb(map, 'ALL')">ALL</a></li>
                <li ng-class="{ selected: map.verb == 'GET' }"><a href ng-click="changeMapVerb(map, 'GET')">GET</a></li>
                <li ng-class="{ selected: map.verb == 'PUT' }"><a href ng-click="changeMapVerb(map, 'PUT')">PUT</a></li>
                <li ng-class="{ selected: map.verb == 'POST' }"><a href ng-click="changeMapVerb(map, 'POST')">POST</a></li>
                <li ng-class="{ selected: map.verb == 'DELETE' }"><a href ng-click="changeMapVerb(map, 'DELETE')">DELETE</a></li>
              </ul>
            </section>
          </sl-ui-menu-dropdown>
        </div>
      </div>
      <div class="ui-form-group" ng-class="{
            'valid': form.endpoint.$valid,
            'invalid': form.endpoint.$invalid }">
        <label>Url Pattern</label>
        <input ng-model="map.endpoint"
               type="text"
               ng-minlength="4"
               name="endpoint"
               class="ui-input map-endpoint"
               placeholder="endpoint">

        <span class="msg error" ng-show="form.endpoint.$invalid">Please enter endpoint</span>
      </div>
    </div>
    <div class="ui-form-group">
      <label>Pipeline</label>
      <div class="ui-menu-container pipeline-menu">
        <input type="text"
               class="ui-input toggler"
               ng-mousedown="showDropdownPipeline = true"
               ng-value="map.pipelineId || 'Choose a pipeline'">
        <sl-ui-menu-dropdown toggler="showDropdownPipeline">
          <section class="menu">
            <ul>
              <li
                ng-repeat="pipe in context.currentPipelines"
                ng-class="{ selected: map.pipelineId == pipe.id }">
                <a href ng-click="setMapPipelineId(map, pipe.id)">{{pipe.name}}</a>
              </li>
            </ul>
          </section>
        </sl-ui-menu-dropdown>
      </div>
    </div>

    <!-- pipeline table -->
    <table class="ui-table" ng-show="map.pipelineId">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="policy in map.pipeline.policies track by $index">
          <td><ui-icon name="policy-{{policy.type}}"></ui-icon></td>
          <td>{{policy.name}}</td>
          <td>
            <div ng-show="policy.type == GATEWAY_CONST.POLICY_RATELIMIT_TYPE">
              <ul>
                <li>limit: {{policy.limit}}</li>
                <li>interval (ms): {{policy.interval}}</li>
              </ul>
            </div>
            <div ng-show="policy.type == GATEWAY_CONST.POLICY_PROXY_TYPE">
              targetURL: <span>{{policy.targetURL}}</span>
            </div>
            <div ng-show="policy.type == 'auth'">
              <span>scopes:</span>
              <ul>
                <li ng-repeat="scope in policy.scopes">
                  <div class="policy-scope-item">{{scope}}</div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div ng-hide="hidebuttons">
        <hr>
        <button class="ui-btn secondary small" type="button" ng-show="isMappingDirty" ng-click="clearMappingForm()">Revert</button>
        <button class="ui-btn primary small" ng-show="isMappingDirty" ng-click="confirmSaveCurrentMapping(map)">Save</button>
      </div>
    </div>
  </form>
</div>
