<table class="ui-table policies">
  <caption>Pipeline policies</caption>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="policy in gatewayMap.pipeline.policies track by $index">
      <td><ui-icon name="policy-{{policy.type}}"></ui-icon></td>
      <td>{{policy.name}}</td>
      <td>
        <div class="policy-details">
          <div class="scopes" ng-show="policy.type == 'auth' && policy.scopes.length">
            <span class="txt">Scopes:</span>
            <span class="val pillbox">
              <span class="pill" ng-repeat="scope in policy.scopes">
                <span class="name">{{scope}}</span>
              </span>
            </span>
          </div>
          <div ng-show="policy.type == GATEWAY_CONST.POLICY_RATELIMIT_TYPE">
            <span class="txt">Limit:</span>
            <span class="val">{{policy.limit}}</span>
            <span class="txt">Interval:</span>
            <span class="val">{{policy.interval}}</span>
          </div>
          <div ng-show="policy.type == GATEWAY_CONST.POLICY_PROXY_TYPE">
            <span class="txt">Target URL:</span>
            <span class="val">{{policy.targetURL}}</span>
          </div>
          <div ng-show="policy.type == 'metrics'">
            <span class="txt">Metrics</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
