<div data-id="PipelineListContainer">
  <table class="ui-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Policies</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pipeline in pipelineCtx.pipelines">
        <td>
          <a href="/#/gateway/pipeline/{{pipeline.name}}">{{pipeline.name}}</a>
        </td>
        <td>
          <ul class="policies">

            <li ng-repeat="policy in pipeline.renderPolicies">
              policy.id: {{policy.id}}
            </li>
          </ul>
          <!--<button class="pipeline-add-policy-button ui-btn accessory text-left" style="width:40rem"-->
                  <!--popover-template="contextModal.templateUrl"-->
                  <!--popover-placement="{{contextModal.position}}"-->
                  <!--ng-click="setupHidePopover($event, pipeline)">-->
            <!--<i class="sl-icon sl-icon-plus-sign"></i>-->
            <!--add policy-->
          <!--</button>-->
        </td>
        <td class="actions">
          <a href class="ui-close" ng-click="deletePipeline(pipeline)">x</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
