<div data-id="PipelineFormContainer">
  <form class="ui-form">
    <div class="form-field">
      <label>Name</label>
      <input type="text" ng-model="pipelineCtx.currentPipeline.name" />
      <div class="form-field">
        <label>
          <input type="checkbox" ng-model="pipelineCtx.isProxyPipeline" />
          has proxy (internal endpoint)?
        </label>
        <input  ng-show="pipelineCtx.isProxyPipeline" type="text" placeholder="endpoint" ng-model="pipelineCtx.currentInternalEndpoint" />
      </div>
    </div>
    <ul>
      <li ng-repeat="policy in pipelineCtx.currentPipeline.policies">{{policy.name}} : {{policy.type}}</li>
    </ul>
    <button class="ui-btn primary small" ng-show="pipelineCtx.currentPipeline.id" ng-click="showAddPipelinePolicy()">Add Policy</button>
    <hr />
    <div>
      <button class="ui-btn secondary small" ng-click="clearPipelineForm()">cancel</button>
      <button class="ui-btn primary small" ng-click="saveCurrentPipeline()">Create Pipeline</button>
    </div>
  </form>
</div>
