<div data-id="PipelineListContainer" class="entity-list-container">
  <table class="ui-table pipelines">
    <thead>
      <tr>
        <th>Name</th>
        <th>Policies</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pipeline in pipelineCtx.pipelines">
        <td>
          <a href ng-click="editPipeline(pipeline)">{{pipeline.id}}</a>
        </td>
        <td>
          <div class="viewport" ng-scroll="scrollViewport($event)">
            <ul class="policies">
              <li ng-repeat="policy in pipeline.renderPolicies track by $index">
                <a href
                   ng-click="setupHidePopover($event)"
                   popover-template="policyDetails.templateUrl"
                   popover-trigger="show"
                   popover-placement="{{policyDetails.placement}}">
                  <ui-icon name="policy-{{policy.type}}"></ui-icon>
                  <span class="policy-name">{{policy.name}}</span>
                </a>
              </li>
            </ul>
          </div>
        </td>
        <td class="actions">
          <a href class="ui-close delete-pipeline" ng-click="confirmDeletePipeline(pipeline)">x</a>
        </td>
      </tr>
    </tbody>
  </table>
  <button data-type="pipeline" ng-click="showAddNewPipelineForm()" class="link-cmd add-new" >
    <i class="sl-icon sl-icon-plus-sign"></i>Add New
  </button>
</div>
