<div data-id="PolicyFormContainer">
  <form class="ui-form">
    <div class="flex-container">
      <div class="form-field">
        <label>name</label>
        <input type="text" ng-model="policy.name" />
      </div>
      <div class="form-field">
        <label>type</label>
        <select class="form-control" ng-model="policy.type"
                ng-options="policyType.id as policyType.name for policyType in context.policyTypes">
        </select>
      </div>
    </div>
    <sl-policy-auth-form ng-show="context.isShowAuthPolicyForm"></sl-policy-auth-form>
    <sl-policy-rate-limit-form  ng-show="context.isShowRateLimitPolicyForm"></sl-policy-rate-limit-form>
    <sl-policy-proxy-form ng-show="context.isShowProxyPolicyForm"> </sl-policy-proxy-form>
    <div>
      <button ng-hide="hidebuttons" ng-disabled="!isPolicyDirty" class="ui-btn primary small pull-right" ng-click="saveCurrentPolicy(policy)">Save</button>
    </div>
  </form>
</div>
