<div>
  <select  ng-model="policyCtx.currentPolicy.provider">
    <option value="oath">OAuth </option>
    <option value="acl-media">ACL Media</option>
    <option value="secure-line">SecureLine</option>
    <option value="facebook">facebook</option>
  </select>
  <label>
    scope
  </label>
  <input type="text"
         typeahead-on-select="addPolicyScope($item)"
         ng-blur="addPolicyScope(policyCtx.currentPolicy.currentPolicyScope)"
         typeahead="scope.name as scope.name for scope in policyScopeCtx.policyScopes | filter:$viewValue | limitTo:8"
         ng-model="policyCtx.currentPolicy.currentPolicyScope.name">

  <ul>
    <li ng-repeat="scope in policyCtx.currentPolicy.policyScopes">{{scope.name}} <button class="link-cmd" ng-click="removePolicyScope(policyCtx.currentPolicy, scope)">(x)</button></li>
  </ul>
</div>
