<div class="policy-scope-input-container">
  <div ng-repeat="(key, scope) in policyCtx.currentPolicy.policyScopes" class="input-policy-scope">
    {{scope.name}}
    <div class="delete-policy-scope" ng-click="_deletePolicyScope(key)">
      <i class="sl-icon sl-icon-close"></i>
    </div>
  </div>
  <input class="policy-scope-input"
         typeahead="scope.name as scope.name for scope in policyScopeCtx.policyScopes | filter:$viewValue | limitTo:8"
         type="text" sl-policy-scope-input=""
         new-policy-scope="addPolicyScope()"
         delete-policy-scope="deletePolicyScope()"
         ng-model="policyCtx.newPolicyScope" ng-style="{width: inputWidth}"   />
</div>
