<form class="dialog-content ui-dialog-form medium">
  <div class="dialog-header">
    <h4 class="header">Policy Details</h4>
  </div>
  <div class="dialog-body">
    <div class="dialog-input">
    </div>
    <div class="dialog-input">
    </div>
  </div>
  <div class="dialog-footer">
    <div class="dialog-footer-group">
      <span class="dialog-summary">
      </span>
      <div class="dialog-buttons">
        <button class="ui-btn small" ng-click="onClickHidePopover()">OK</button>
      </div>
    </div>
</form>
