/* begin feature abstraction class name wrapping icons.less class names */
.sl-icon-contextmenu:before {
  &:extend(.sl-icon-box-arrow-down:before);
}

.discovery-grid-container .ngRow {
  .sl-icon:before {
      &:extend(.sl-icon-checkmark-outline:before);
  }

  &.selected {
    .sl-icon:before {
      &:extend(.sl-icon-checkmark:before);
      color:#4a90e2;
    }
  }
}

//license key icon
.ui-icon-link {
  .sl-icon.sl-icon-key_out {
    color: @green-1;
    font-size: 2rem;
  }

  &:active {
    .sl-icon.sl-icon-key_out {
      color: @green-4;
    }
  }

  &:hover {
    .sl-icon.sl-icon-key_out {
      color: @green-3;
    }
  }
}
