node_modules
bower_components
.idea
.DS_Store
/client/www/scripts/version.js
/client/test/integration/sandbox
/client/www/scripts/modules/common/workspace.services.js
/client/www/style/style.css
*-xunit.xml
