node_modules/
.idea
.DS_Store
*-xunit.xml
strong-arc-*.tgz
coverage
devtools/examples/
examples/
build-deploy/test/
client/test/
process-manager/test/
server/test/
assets/
test/
*.less
client/www/scripts/vendor/angular-ui/modules/directives/animate/test
client/www/scripts/vendor/angular-ui/modules/directives/calendar/test
client/www/scripts/vendor/angular-ui/modules/directives/codemirror/test
client/www/scripts/vendor/angular-ui/modules/directives/currency/test
client/www/scripts/vendor/angular-ui/modules/directives/date/test
client/www/scripts/vendor/angular-ui/modules/directives/event/test
client/www/scripts/vendor/angular-ui/modules/directives/if/test
client/www/scripts/vendor/angular-ui/modules/directives/jq/test
client/www/scripts/vendor/angular-ui/modules/directives/keypress/test
client/www/scripts/vendor/angular-ui/modules/directives/map/test
client/www/scripts/vendor/angular-ui/modules/directives/mask/test
client/www/scripts/vendor/angular-ui/modules/directives/reset/test
client/www/scripts/vendor/angular-ui/modules/directives/route/test
client/www/scripts/vendor/angular-ui/modules/directives/scrollfix/test
client/www/scripts/vendor/angular-ui/modules/directives/select2/test
client/www/scripts/vendor/angular-ui/modules/directives/showhide/test
client/www/scripts/vendor/angular-ui/modules/directives/sortable/test
client/www/scripts/vendor/angular-ui/modules/directives/tinymce/test
client/www/scripts/vendor/angular-ui/modules/directives/validate/test
client/www/scripts/vendor/angular-ui/modules/filters/format/test
client/www/scripts/vendor/angular-ui/modules/filters/highlight/test
client/www/scripts/vendor/angular-ui/modules/filters/inflector/test
client/www/scripts/vendor/angular-ui/modules/filters/unique/test
client/www/scripts/vendor/angular-ui/templates/test
client/www/scripts/vendor/angular-ui/test
client/www/scripts/vendor/chance/test
client/www/scripts/vendor/checklist-model/test
client/www/scripts/vendor/jQuery-contextMenu/test
client/www/scripts/vendor/jquery.transit/test
client/www/scripts/vendor/numeraljs/tests
client/www/scripts/vendor/jquery/src
client/www/scripts/vendor/moment/src
client/www/scripts/vendor/jquery-ui/themes/black-tie
client/www/scripts/vendor/jquery-ui/themes/blitzer
client/www/scripts/vendor/jquery-ui/themes/cupertino
client/www/scripts/vendor/jquery-ui/themes/dark-hive
client/www/scripts/vendor/jquery-ui/themes/dot-luv
client/www/scripts/vendor/jquery-ui/themes/eggplant
client/www/scripts/vendor/jquery-ui/themes/excite-bike
client/www/scripts/vendor/jquery-ui/themes/flick
client/www/scripts/vendor/jquery-ui/themes/hot-sneaks
client/www/scripts/vendor/jquery-ui/themes/humanity
client/www/scripts/vendor/jquery-ui/themes/le-frog
client/www/scripts/vendor/jquery-ui/themes/mint-choc
client/www/scripts/vendor/jquery-ui/themes/overcast
client/www/scripts/vendor/jquery-ui/themes/pepper-grinder
client/www/scripts/vendor/jquery-ui/themes/redmond
client/www/scripts/vendor/jquery-ui/themes/smoothness
client/www/scripts/vendor/jquery-ui/themes/south-street
client/www/scripts/vendor/jquery-ui/themes/start
client/www/scripts/vendor/jquery-ui/themes/sunny
client/www/scripts/vendor/jquery-ui/themes/swanky-purse
client/www/scripts/vendor/jquery-ui/themes/trontastic
client/www/scripts/vendor/jquery-ui/themes/vader
