<div class="row" id="UIFormEditorContainer">
  <div class="col-xs-2">
    <ul>
      <li>
        <input type="button"
               class="btn btn-sm btn-default btn-block"
               data-name="textInput"
               ng-click="addUIFormElement('text')"
               value="text" >
      </li>
      <li>
        <input type="button"
               class="btn btn-sm btn-default btn-block"
               data-name="textareaInput"
               ng-click="addUIFormElement('textarea')"
               value="textarea" >
      </li>
      <li>
        <input type="button"
               data-name="selectInput"
               class="btn btn-sm btn-default btn-block"
               ng-click="addUIFormElement('select')"
               value="select" >
      </li>
      <li>
        <input type="button"
               data-name="radioInput"
               class="btn btn-sm btn-default btn-block"
               ng-click="addUIFormElement('radio')"
               value="radio" >
      </li>
      <li>
        <input type="button"
               data-name="dateInput"
               class="btn btn-sm btn-default btn-block"
               ng-click="addUIFormElement('date')"
               value="date" >
      </li>
      <li>
        <input type="button"
               data-name="checkboxInput"
               class="btn btn-sm btn-default btn-block"
               ng-click="addUIFormElement('checkbox')"
               value="checkbox" >
      </li>
    </ul>

  </div>
  <div class="col-xs-6">
    <h2>Forms and Data</h2>
    <pre>{{currUIForm | json}}</pre>
  </div>
  <div class="col-xs-4">
    <div uiform-form-builder></div>
  </div>
</div>
