
/*

    API Canvas View

*/
.canvas-model-container {
    position: absolute;
    border: 1px solid #dddddd;
    margin: 2rem;
    padding: .4rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 200px;
}
.canvas-model-container .model-header {
    text-align: center;
}
.canvas-model-container .model-header-title {
    padding: 0;
    margin: 0;
    font-size: 110%;
    color: #777777;
}
.ia-drag-view-title-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: #000000;
    width: 100%;
}
.ia-drag-view-title-container .title {
    color: #ffffff;
    font-size: 75%;
}
.canvas-footer {
    clear: both;
}
.model-connection-point {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: .7rem;
    position: relative;
    margin-left: -10px;
    height: 3rem;
    /*position:absolute;*/
    /*bottom:0;*/
    /*right:0;*/
}
.model-body {
    display: none;
}
