.demo-data-grid .ngViewport {
    height:500px;
}
.demo-app-nav-container {
    max-width:300px;
}
.demo-app-cell-container {
    height:450px;
    overflow:scroll;
}
.demo-app-form-container {
    height:400px;
    overflow:scroll;
}
