
/*

    Discovery

*/
.discovery-schema-list-grid {
    height: 400px;
}
.model-schema-editor-source-table-table {
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 45rem;
    margin: 0 auto 0 auto;
}
.discovery-schema-grid-label {
    display:inline-block;
    margin-bottom:8px;
}
.discovery-schema-filter-input {
    float:right;
    border:1px solid #dddddd;
    border-radius:.2rem;

}
.model-schema-editor-source-table-table th {
    background-color: darkgreen;
    color: #ffffff;
    font-weight: bold;
}
.model-schema-editor-source-table-table td {
    font-size: 125%;
    border: 1px solid #eeeeee;
}
.discovery-schema-selected-table-list {
    width: 50rem;
    margin: 0 auto 0 auto;
}
