/* @override
	http://0.0.0.0:3003/style/dev/canvas.css */


/*

    API Canvas View

*/

.canvas-model-container {
    position: absolute;
    border: 1px solid #c2c2c2;
    margin: 2rem;
    padding: .4rem;
	border-radius: 1rem;
    width: 200px;
    height: 200px;
	background: -webkit-linear-gradient(top, #EEEEEE 0%, #EEEEEE 100%) no-repeat #ffffff;
	background: -moz-linear-gradient(top, #EEEEEE 0%, #EEEEEE 100%) no-repeat #ffffff;
	background: -ms-linear-gradient(top, #EEEEEE 0%, #EEEEEE 100%) no-repeat #ffffff;
	background: linear-gradient(to bottom, #EEEEEE 0%, #EEEEEE 100%) no-repeat #ffffff;
	background-size: 100% 3rem;
	-moz-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.37);
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.37);
	opacity: 1;
}
.canvas-model-container .model-header {
    text-align: center;
}
.canvas-model-container .model-header-title {
    padding: 0.3rem;
    margin: 0;
    font-size: 100%;
    color: #545454;
}
.ia-drag-view-title-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    background: rgba(126, 126, 126, 0.2);
    width: 100%;
}
.ia-drag-view-title-container .title {
    color: #666666;
    font-family: helvetica neue;
    font-size: 80%;
    margin-left: 20px;
}
.canvas-footer {
    clear: both;
}
.model-connection-point {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    position: relative;
    margin-left: 0.4rem;
    margin-top: -1.5rem;

    /*position:absolute;*/
    /*bottom:0;*/
    /*right:0;*/
}
.model-body {
    display: none;
}
