/* @override
	http://0.0.0.0:3003/style/dev/discovery.css */

.discovery-modal-container .btn-default {
    color: #333333;
    background-color: #eeeeee;
    border-color: #cccccc;
}
/*

    Discovery

*/
.modal-header{
    text-align: center;
    font-size:175%;
}

.modal-header .growl {
  z-index: 100;
  font-size: 16px;
}

.modal-body {
    padding:8px 20px 20px 20px;
}
.discovery-modal-container .loading-indicator {
    width: 50px;
    height: 50px;
    margin: 35px auto 0 auto;
}
.discovery-modal-container .modal-footer {
    text-align:left;
}
.discovery-modal-container .modal-footer form {
    float:right;
}

.discovery-modal-container button.btn-select-all .sl-icon {
    top:2px;
    color:rgba(100, 100, 100, .25);
}
.discovery-modal-container button.is-all-selected .sl-icon {
    color:#4a90e2;
}

.discovery-schema-list-grid {
    height: 400px;
}
.model-schema-editor-source-table-table {
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto 0 auto;
}
.discovery-schema-grid-label {
    display:inline-block;
    margin-bottom:8px;
    padding-top:3rem;
    color:#444444;
}
.discovery-schema-filter-input {
    float:right;
    width:20rem;
    border:1px solid #cccccc;
    border-radius:2rem;
    padding:.5rem;

}
.model-schema-editor-source-table-table th {
    background-color: #eaeaea;
    color: #444444;
    font-weight: bold;
    height:30px;
}
.model-schema-editor-source-table-table td {
    font-size: 112%;
    /*border: 1px solid #eeeeee;*/
    border-left: 1px solid #bbbbbb;
    padding-left:4px;
    color:#444444;

}
.discovery-table-column {
    width:460px;
    width:460px;

}
.discovery-schema-selected-table-list {
    width: 95%;
    margin: 0 auto 0 auto;
}
.discovery-schema-selected-table-list tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.discovery-target-model-table .table-header {
    background-color: #eaeaea;
    border-bottom: 1px solid #d4d4d4;
}
.discovery-target-model-table [data-ui-type="cell"] {
    padding: 5px;
    border: 1px solid #eeeeee;
}
.discovery-schema-property-select-col {
    width:3rem;
    text-align: center;
}
.discovery-schema-property-checkbox {
    display:inline-block;
    margin:0 auto 0 auto;
}
.discovery-schema-property-checkbox input {
    display:none;
}
.discovery-target-model-table [data-ui-type="row"]:nth-of-type(odd) {
    background-color: rgb(243, 243, 243);
}
.discovery-model-preview-modelname {
    font-size:140%;
}
.ngSelectionCheckbox{
    /*display:none;*/
}

.modal-header {
    background-color: #7DBD33;
    color:#ffffff;
    border-radius:1.4rem 1.4rem 0 0;

}
.modal-content {
    border-radius:1.4rem;
}
.discovery-grid-container .ngViewport {
    overflow-x:hidden;
}
.discovery-grid-container div label.select-item-cell{
    color:rgba(100, 100, 100, .25);
    display:inline-block;
    position:absolute;
    top:10px;
    left:3px;
}
.discovery-grid-container .discovery-data-cell {
    padding-left:1rem;
    vertical-align: middle;

}
.discovery-grid-container .discovery-data-cell span {
    display:inline-block;
    font-size:122%;
}
.discovery-grid-container .ngHeaderContainer {
    font-weight:normal;
    font-size:90%;
    background-color: #dddddd;
    color:#111111;
}
.discovery-grid-container .ngHeaderContainer .ngHeaderCell {
    margin-left:.3rem;
}
.discovery-schema-list-grid.discovery-grid-container .ngHeaderContainer .ngHeaderCell.col0 input[type="checkbox"]{
    display:none;
}



.discovery-grid-container div .select-item-cell [type="checkbox"]{
    display:none;
}
.discovery-grid-container div.selected .select-item-cell{
    color:#4a90e2;
}

/*.discovery-grid-container div.selected .select-item-cell .checkbox-icon:before{*/
    /*content: "\e614";*/
/*}*/

/*.sl-icon-checkmark:before {*/

/*}*/
/*.sl-icon-checkmark-outline:before {*/
    /*content: "\e615";*/
/*}*/

