[data-id="GatewayMainBody"] {
  [data-id="MainNavContainer"] {
    margin-bottom:0;
    overflow-y: auto;
  }
}
.tree-branch.is-active{
  background: #4a90e2;
}

.tag-input-ctn {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  width: 500px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.tag-input-ctn input{
  display:inline-block;
  float:left;
  height: 18px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  color: #444444;
  border: 0;
  margin: 2px;
}

.tag-input-ctn input:focus {
  outline:0;
  box-shadow:0;
}

.tag-input-ctn .input-tag {
  padding: 2px 4px;
  line-height: 12px;
  font-size: 11px;
  background-color: #e3eaf6;
  float:left;
  display:inline-block;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
}
.tag-input-ctn .input-tag .delete-tag {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}
.tag-input-ctn .input-tag .delete-tag:hover {

  background-color: #96b4d2;
}
table.ui-table {
  td.service-status-col {
    table.service-status-table {
      width:30rem;
      border: 0;
      padding: 0;
      margin: 0;
      tbody tr:hover td {
        border: 0;
        box-shadow: none;
      }
      tr {
        border: 0;
        padding: 0;
        margin: 0;

        td.label-col {
          vertical-align: middle;
        }
        td {
          border: 0;
          padding: 0;
          margin: 0;
        }
      }

    }

  }
}
[data-id="PipelinePolicyDetailPopver"] {
  min-height: 10rem;
  min-width:50rem;
  padding:1rem 2.5rem 2.5rem 2.5rem;
}
.pipeline-policy-sequence-list {

  border:1px solid grey;

  li {
    border:1px solid red;
    display:inline-block;
    width:6rem;
    margin:1rem;

    .pipeline-policy-button {
      height:6rem;
      width:6rem;
      text-align:left;
      font-size:75%;
      background-color:#eeeeee;
      &:focus {
        background-color:#a6b779;
      }
    }

  }
}
.scope-endpoint-selector {
  min-height:20rem;
}
.gateway-map-scope-selector {
  min-width:26rem;
}

.policy-col {
  .pipeline-add-policy-button {
    float:right;
  }
}
