/* @override
	http://0.0.0.0:3003/style/dev/instance.css
	http://0.0.0.0:3003/style/src/instance.css */


/*

    Model Editor Tabs

*/
[data-id="MainContentContainer"] {
    width: 100%;
}
.instance-title-container {
    width: 100%;
    color: black;
    background-color: #f1f1f1;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    letter-spacing: .1rem;
    text-align: center;
    padding: 0.7rem 0 .3rem 0;
}
.instance-tabs-view-container {
	top: 5rem;
    border-bottom: 0px solid #dddddd;
}
.instance-tabs-list {
    button.ui-close {
      border: none;
    }

    padding: 1rem 1rem 0;
}
.instance-detail-pocket-button {
  color: #FFFFFF;
  background-color: #7dbd34;
  width: 8rem;
  height: 3rem;
  border-radius: 3px;
  padding-top: 0.5rem;
}
.instance-save-button {
  font-size: 12pt;
  border: none;
  border-bottom: 2px solid #67992d;
  width: 17rem;
  height: 3.7rem;


}
button.instance-save-button:active {
  background-color:@default-primary-active-color;
}
