.licensing {
  width: 80%;
  margin: 0 auto;

  table {
    font-size: 1.4rem;
    min-width: 960px;
  }

  thead {
    .license-key {
      position: relative;
      width: 20rem;
    }

    th:nth-child(1), th:nth-child(3), th:nth-child(4) {
      width: 17rem;
    }

    th:nth-child(2){
      width: 34rem;
    }
  }

  tbody {
    .license-key {
      ////license key icon
      //.ui-icon-link {
      //  font-size: 1.6rem;
      //
      //  .sl-icon.sl-icon-key_out {
      //    color: @green-1;
      //    font-size: 1.8rem;
      //  }
      //}
      textarea {
        width: 100%;
        height: 10rem;
        overflow-x: auto;
      }
    }

    .product, .features, .date, .license-key {

      img {
        width: 2rem;
        height: 2rem;
      }

      li {
        height: 3rem;
        margin-bottom: 1rem;
      }
    }

    .features, .product {
      .txt {
        .clearfix;
        float: left;
        width: 19rem;

        img {
          float: left;
        }

        .name, .description {
          float: left;
          width: 16rem;
          margin-left: 1rem;
        }
      }

      button {
        float: right;
      }
    }

    .expired {
      color: @ui-msg-error-color;
    }

    .error {
      color: @ui-msg-error-color;
    }

    .sl-icon-question-mark {
      color: @ui-msg-error-color;
    }
  }
}
