/* @override
	http://0.0.0.0:3003/style/dev/main.css
	http://0.0.0.0:4800/style/src/main.css */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input:focus, select:focus {
  outline: none;
}

.pull-left {
  float: left;
}

/*

    Data Table Grid

*/
[data-ui-type="table"] {
  display: table;
  table-layout: fixed;
  width: 100%;
}

[data-ui-type="row"] {
  display: table-row;
}

[data-ui-type="cell"] {
  display: table-cell;
  vertical-align: top;

}

button:focus,
button:active:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: transparent;
  outline-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  font-weight: normal;
  margin-right: 2rem;
}

label {
  color: #808080;
}

input {
  border: none;
  font-size: 90%;
}

pre {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

code {
  color: #000;
}

.center_div {
  margin: 0 auto;
  width: 80% /* value of your choice which suits your alignment */;
}

.btn-command {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

/*

	forms

*/
.field-label {
  padding-left: 0.7rem;
  font-size: 10pt;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.lineBreak {
  height: 1.6rem;
  border-bottom: 1px solid #DDDDDD;
}

/*

    growl

*/
.growl {
  top: 80px;
  right: 6rem;
  z-index: 4000;
}

/*

    Header

*/

.headerContainer {
  position: relative;
  z-index: 11;
  background-color: #7dbd33;
  padding-top: 2.4rem;
  padding-right: 3rem;
  padding-left: 2rem;
  width: 100%;
  height: 7.5rem;
}

.header-help-container {
  font-size: 17pt;
}

.headerContainer li {
  display: inline-block;
}

.navButtons {
  width: 18rem;
  position: absolute;
  right: 1.75rem;
  top: 3rem;
  text-align: right;

  > ul > li {
    margin-left: 1rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .ui-popover {
    margin-left: 0;

    &.menu {
      .ui-popover-content.bottom {
        top: 4.1rem;
        right: -.7rem
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      display: block;
    }

    .dropdown-menu {
      top: 0;
      left: -8rem;
    }
  }
}

.dropdown-menu {
  min-width: 50px;
  top: 4rem;
  left: -1.4rem;
}

.dropdown-menu li {
  display: block;
}

.branding {
  width: 25rem;
  float: left;

  a {
    display: block;
  }
}

.logo {
  margin-top: 0.8rem;
  width: 15.8rem;
}

.wordbrand {
  font-size: 20pt;
  font-weight: 400;
  color: #08592B;
  float: left;
}

.header-version {
  position: absolute;
  font-size: 0.55em;
  right: 2.2em;
  top: 1em;
  color: #08592B;
}

.activity-indicator {
  background-image: url('images/spinner3-greenie.gif');
  background-repeat: no-repeat;
}

/*

	Login

*/
#LoginMainContainer {
  position: relative;
}

#LoginMainContainer .center_div {
  max-width: 50rem;
  margin-top: 5rem;
  padding: 6rem;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.login-form-title {
  margin-top: 1rem;
  font-size: 22pt;
  margin-bottom: 3rem;
  text-align: center;
}

[data-id="LoginForm"] {
  max-width: 45rem;
  display: block;
  margin: 0 auto 0 auto;

  &.ui-form {
    border: none;
  }
}

.AuthExceptionMessageContainer {
  margin-bottom: 3rem;
}

.login-fail-message-container {
  padding: 1.4rem;
  font-size: 115%;
  color: #d0021b;
  border: 1px solid #d0021b;
  border-radius: 0.5rem;
  background-color: rgba(208, 2, 27, 0.1);
}

.login-button-container {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
}

.LoginRegisterLinksContainer {
  margin-top: 1rem;
}

/*

  Link Command (button that looks like a link)

*/
.link-cmd {
  color: @action-primary;
  border: 0;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}

/*

	Splash

*/

.jumbotron {
  background-color: #ffffff;
}

.img-main-splash {
  width: 100%;
}

/*

  app module container

*/
.app-module-container {
  position: relative;
}

/*

    ide container

*/
[data-id="MainBody"] {
  width: 100%;
  position: relative;
}

[data-id="MainSidebarContainer"] {
  background-color: #444444;
}

.top-level-container {
  border: 0px solid #cccccc;
  width: 28.5rem;
  /*padding:.5rem;*/
  /*height:600px;
  overflow:scroll;*/
}

/*

    Loading Indicator

*/
.loading-indicator {
  width: 180px;
  height: 180px;
  margin: 35px auto 0 auto;
}

/*

    Modal Window

*/
.app-modal-window .modal-dialog {
  width: 1000px;
}

.app-modal-window .modal-dialog .modal-body {
  height: 550px;
  overflow: scroll;
}

/*

Validation CSS

*/
.validation-error-message {
  font-size: 11pt;
  font-weight: 200;
  color: @ui-msg-error-color;
}

.is-valid {
  display: none;
}

/*

    Global Exception

*/
.ia-global-exception-container {
  color: #d0021b;
  margin: 1rem;
  padding: 2rem 3rem;
  border: 1px solid #d0021b;
  border-radius: 0.5rem;
  background-color: rgba(208, 2, 27, 0.1);
}

.ia-global-exception-header {
  margin-bottom: 1rem;
}

.ia-global-exception-body {
  font-size: 10pt;
}

.ia-global-exception-label {
  font-weight: bold;
}

.ia-global-exception-value {
  font-size: 11pt;
}

.ia-global-exception-help {
  font-size: 11pt;
  margin-top: 1rem;
}

.ia-global-exception-close-button {
  float: right;
  font-size: 18pt;
}

.ia-global-exception-close-button:hover {
  color: #4a90e2;
  cursor: pointer;
}

.ia-global-exception-link {
  text-align: right;
  padding-top: 1rem;
  text-decoration: underline;
}

.ia-global-exception-link:hover {
  color: #4a90e2;
  cursor: pointer;
}

.global-exception-stack-display {
  width: 100%;
  height: 15rem;
  border: 1px solid #d0021b;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 10pt;
  background-color: rgba(208, 2, 27, 0.1);;
  overflow: auto;
  white-space: pre;
}

[data-id="GlobalExceptionDetailsContainer"] {
  display: none;
}

#ProfilerContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}
