

.manager-main-layout {

  width:100%;
  overflow-y: auto;
  .ui-menu-action {
    cursor:pointer;
  }

  .load-balancer-container {
    float:right;
    position:relative;
    background:#ffffff;
    margin: 0 4rem 0 0;

    .load-balancer-content {
      position: absolute;
      top: 3rem;
      right: 1rem;
      width: 53rem;
      background: #ffffff;
      padding: 1rem;
      z-index: 4000;
      border:1px solid #dddddd;
      .ui-popover-box-shadow;

      h4 {
        margin-top: 0;
        color: @grey-1;
      }

      .ui-form {
        border:0;
        margin-top: 0;

        input[type=text] {
          //border:0;
        }
      }

      .ui-table {

        thead{
          th {
            background-color: #ffffff;
            border:0;
          }
        }

        td {
          border:0;
        }

        .load-balancer-host {
          width:26rem;
        }
        .load-balancer-port {
          width:8rem;
        }

        .ui-close {
          margin: .5rem 0 0 1rem;
          display: block;
        }
      }
    }
  }

  .app-context {
    margin-top: 2rem;
    padding-left: 9rem;
  }

  form.ui-form  {

    margin-top: 1rem;

    [data-id="PortCol"] {
      width:9.1rem;
      input {
        width:9rem;
      }

    }
    [data-id="PidCountCol"] {

      input {
        width: 7rem;
      }

    }
  }
  .manager-main-container {
    width: 100rem;
    margin: 5rem auto 0 auto;

    .app-context {
      text-align: center;

    }


    [data-id="HostCol"] {

    }

    .actions {

      button {

        white-space: nowrap;
      }
    }

    [data-id="StatusCol"] {

      .is-problem {
        color: red;

        span {
          color: red;
        }

      }

      .host-status-display {
        width:8rem;
        display:inline-block;

        .ui-popover {
          float:right;
        }
      }
      .status-icon {
        width:6rem;
      }









      .manager-host-status-container {
        position: relative;
      }
      .btn-host-activate {
        width: 2rem;

        :active {
          color:@brand-info;
        }
      }
      .btn-host-status {
        width: 7.6rem;
        text-align: left;
        padding: 0;
        margin: 0;

      }
      .host-problem-tooltip-container {
        position: absolute;
        top: 2rem;
        left: 3rem;
        width: 30rem;
        border: 1px solid #444444;
        background: #ffffff;
        z-index: 4000;
      }
      .is-active {

        span {
          color: #444444;
        }
      }
    }

    [data-id="ProcessesCol"] {
      width: 12rem;
    }

    [data-id="PidCol"], [data-id="PIDsCol"] {
      width: 8rem;
      padding: 0;
    }

    [data-id="ActionCol"] {
      width: 4rem;
    }

    .manager-pm-host-grid {

      width: 100%;


      tr {
        color: #bbbbbb;
      }

      th {
        color: #444444;
        font-weight: normal;
      }

      tr.is-active {
        color: #444;
      }

      td {

        .ui-menu-action {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }

      .manager-hosts-grid-header {
        font-weight: normal;
      }

      .ui-list-scroll {
        max-height: 8rem;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .host-actions-container {
        float: right;
        position: relative;

        .host-actions-list {
          position: absolute;
          top: 2rem;
          width: 15rem;

          button {
            display:inline-block;
            text-align: left;
            width:100%;
          }
          button:active {
            color:@brand-info;
            background:#dddddd;
          }
        }
      }

      tfoot {
        .link-cmd {
          &.disabled {
            color: @ui-disabled-text-color;
            cursor: default;
          }
        }
      }
    }

  }
}

