//intercom widget
#intercom-container {
  .intercom-conversations-new-conversation-button {
    .ui-btn !important;
  }

  .intercom-sheet-footer.intercom-conversations-footer {
    height: 7.3rem !important;
    padding-top: 1rem !important;
  }

  .intercom-launcher-button {
    background-color: @green-1 !important;
    border: none !important;
    box-shadow: none !important;
  }
}
