.sl-profiler {

  .sl-profiler-navbar {
    padding: 1rem 2rem;
    display: block;
  }

  .profiler-devtools-container {
    overflow:scroll;
  }

  .sl-toggler {
    margin: .5rem 0;

    .sl-toggler-label {
      color: @gray-light;
      display: inline-block;
      position: relative;
      margin-right: 1rem;
    }
  }

  iframe {
    &.disabled {
      opacity: .3;
    }
  }
}
