.app-module-container {
  position: absolute;
  top: 7.5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.visual-composer {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0rem;
  height: 100%;
  display: flex;
  align-items: stretch;
  background: #595959;

  .datasource {
    .ds-icon {
      fill: orange;
    }
    
    .title-bg {
      fill: @grey-3;
    }

    .title {
      fill: white;
    }
  }

  .model {
    fill: white;
    stroke: @grey-3;
    stroke-width: 1px;

    .main-body {
      rx: 3px;
    }

    .connector {
      stroke: @green-4;
    }

    text {
      font-size: 55;
      font-family: verdana;
      stroke-width: 0px;
      fill: @grey-1;
    }

    .title {
      font-size: 12pt;
      fill: white;
      font-weight: normal;
    }

    .title-bg {
      fill: @grey-1;
      rx: 3px;
    }

    circle:hover {
      fill: @green-1;
    }
  }

  .component-panel {
    width: 28.5rem;

    .instance-selector {

    }

    .creation-panel {

    }

  }

  .link {
    stroke: @grey-1;
    stroke-width: 3px;
    fill: none;

    &.loose {
      stroke: @grey-3;
    }

    &.valid {
      stroke: @green-4;
    }
  }

  .canvas-container {
    margin: 0;
    flex-grow: 1;
    border: none;
    position: relative;
    overflow: hidden;

    div {
      background-image: url('/images/checkerboard.png');
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 125rem;
    }
  }

  .create-panel {
    height: 25rem;
    background: silver;
  }

  .properties-panel {
    width: 25rem;
    background: white;

    & > div {
      width: 100rem;
    }
  }
}
