.visual-composer {
  .model {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;

    text {
      font-size: 55;
      font-family: verdana;
    }
  }

  .canvas-container {
    margin: 2rem;
    width: auto;
    height: 50rem;
    border: 1px solid @grey-1;
  }
}
