.visual-composer {
  .model {
    fill: white;
    stroke: @grey-4;
    stroke-width: 1.5px;

    text {
      font-size: 55;
      font-family: verdana;
      stroke-width: 0px;
      fill: @grey-1;
    }

    .title {
      font-size: 75;
    }

    .title-bg {
      fill: @grey-4;
    }

    circle:hover {
      fill: @grey-6;
    }
  }

  .link {
    stroke: @grey-1;
    stroke-width: 2px;
    fill: none;
  }

  .canvas-container {
    margin: 2rem;
    width: auto;
    height: 50rem;
    border: 1px solid @grey-1;

    div {
      background-image: url('/images/checkerboard.png');
    }
  }
}
