/* @override 
	http://0.0.0.0:3003/style/dev/discovery.css */


/*

    Discovery

*/
.modal-header{
    text-align: center;
    font-size:175%;
}
.discovery-schema-list-grid {
    height: 400px;
}
.model-schema-editor-source-table-table {
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto 0 auto;
}
.discovery-schema-grid-label {
    display:inline-block;
    margin-bottom:8px;
}
.discovery-schema-filter-input {
    float:right;
    border:1px solid #dddddd;
    border-radius:.2rem;

}
.model-schema-editor-source-table-table th {
    background-color: #eaeaea;
    color: #444444;
    font-weight: bold;
    height:30px;
}
.model-schema-editor-source-table-table td {
    font-size: 112%;
    /*border: 1px solid #eeeeee;*/
    border-left: 1px solid #bbbbbb;
    padding-left:4px;
    color:#444444;

}
.discovery-table-column {
    width:460px;
    width:460px;

}
.discovery-schema-selected-table-list {
    width: 95%;
    margin: 0 auto 0 auto;
}
.discovery-schema-selected-table-list tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

/*Hack for demo*/

/* The "cancel" button in discovery flow */
[ng-click="cancel()"]{
	background: #7dbc33;
	border: 1px solid #507a21;
	color: #ffffff;
	width: 10rem;
	height: 4rem;
}
/*The "Next" button in Discovery Flow*/
[ng-click="discoveryNexBtnClicked()"]{
	background: #7dbc33;
	border: 1px solid #507a21;
	color: #ffffff;
	width: 10rem;
	height: 4rem;
}
/* The "Back" button in Discovery Flow */
[ng-click="discoveryBackBtnClicked()"]{
	background: #7dbc33;
	border: 1px solid #507a21;
	color: #ffffff;
	width: 10rem;
	height: 4rem;
}
