/* @override
	http://0.0.0.0:3003/style/dev/icons.css
	http://0.0.0.0:3003/style/src/icons.css
	http://0.0.0.0:4800/style/src/icons.css */

@font-face {
	font-family: 'Strongloop';
	src:url('../../fonts/Strongloop.eot?ldukra');
	src:url('../../fonts/Strongloop.eot?#iefixldukra') format('embedded-opentype'),
		url('../../fonts/Strongloop.woff?ldukra') format('woff'),
		url('../../fonts/Strongloop.ttf?ldukra') format('truetype'),
		url('../../fonts/Strongloop.svg?ldukra#Strongloop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sl-icon-"], [class*=" sl-icon-"] {
	font-family: 'Strongloop';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sl-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Strongloop';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sl-icon-checkmark-outline:before {
  content: "\e611";
}

.sl-icon-checkmark:before {
  content: "\e612";
}

.sl-icon-question-mark:before{
    content: "\e600";
}

.sl-icon-database:before {
    content: "\e602";
    font-size: 16pt;
}


.sl-icon-folder-open:before {
    content: "\e601";
    margin-right: 10px;
    font-size: 12pt;
}
.sl-icon-plus-sign:before {
    content: "\e608";
}
.sl-icon-minus-sign:before {
    content: "\e607";
}
.sl-icon-question-sign:before {
    content: "\e60A";
}
.sl-icon-off:before {
    content: "\e60B";
    color: #01582A;
    font-size: 18pt;
    margin-left: 2rem;
}
.sl-icon-file:before {
    content: "\e603";
    font-weight: lighter;
}
.sl-icon-remove:before {
    content: "\e60D";
}
.sl-icon-lightning:before {
    content:  "\e606";
}
.sl-icon-link:before {
    content:  "\e605";
}
.sl-icon-navbranch-open:before {
    content:  "\e604";
}
.sl-icon-navbranch-closed:before{
    content:  "\e60f";
}
.sl-icon-contextmenu:before{
    content: "\e60e";
}
.sl-icon-play:before{
    content: "\e610";
}
