/* @override
	http://0.0.0.0:3003/style/dev/icons.css
	http://0.0.0.0:3003/style/src/icons.css */

@font-face {
	font-family: 'Strongloop';
	src:url('../../fonts/Strongloop.eot?-sfu57g');
	src:url('../../fonts/Strongloop.eot?#iefix-sfu57g') format('embedded-opentype'),
		url('../../fonts/Strongloop.woff?-sfu57g') format('woff'),
		url('../../fonts/Strongloop.ttf?-sfu57g') format('truetype'),
		url('../../fonts/Strongloop.svg?-sfu57g#Strongloop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Strongloop';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Strongloop';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-question-mark:before{
    content: "\e600";
}

.glyphicon-database:before {
    content: "\e602";
    font-size: 16pt;
}


.glyphicon-folder-open:before {
    content: "\e601";
    margin-right: 10px;
    font-size: 12pt;
}
.glyphicon-plus-sign:before {
    content: "\e608";
}
.glyphicon-minus-sign:before {
    content: "\e607";
}
.glyphicon-question-sign:before {
    content: "\e60A";
}
.glyphicon-off:before {
    content: "\e60B";
    color: #01582A;
    font-size: 18pt;
    margin-left: 2rem;
}
.glyphicon-file:before {
    content: "\e603";
    font-weight: lighter;
}
.glyphicon-remove:before {
    content: "\e60D";
}
.glyphicon-lightning:before {
    content:  "\e606";
}
.glyphicon-link:before {
    content:  "\e605";
}
.glyphicon-navbranch-open:before {
    content:  "\e604";
}
.glyphicon-navbranch-closed:before{
    content:  "\e60f";
}
.glyphicon-contextmenu:before{
    content: "\e60e";
}
.glyphicon-play:before{
    content: "\e610";
}
