/* @override
	http://0.0.0.0:3003/style/dev/nav.css
	http://0.0.0.0:3003/style/src/nav.css */


/*

Main Search

*/
.nav-search-list {
    padding: 0;
    width: 90%;
    margin: 0 auto 0 auto;
}
.nav-search-list li {
    display: inline;
}
.main-search-input {
	font-weight: lighter;
    border: 1px solid #808080;
    background-color: #444444;
    border-radius: 2rem;
    width: 25rem;
    padding-left: 1rem;

}

.plus{
	margin-right: 1rem;
	font-size: 16pt;
}

[data-id="MainNavContainer"] {
    background-color: #666666;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: auto;
    position:relative;
    padding: 0;

}
[data-id="MainSearchContainer"] {
	background: #444444;
	padding-top: 1.7rem;
	padding-bottom: 1.3rem;
	border-bottom: 1px solid #7DBD33 !important;
}

[data-id="MainNavContextHelp"] {
	color: #4A4A4A;
	position: absolute;
	margin-top: -3.3rem;
	margin-right: 1rem;
	float: right;
}

[title="documentation"] {
	color: #01582A !important;
}

/*Hacked for demo*/
.navbar-brand {
	background-image: url("../../images/hack/logo.png");
	position:absolute;
	left:10rem;
	top: 2.5rem;
	width: 212px;
	height: 35px;
	background-size: 212px 35px;
	/*font-family: Ubuntu;
	font-size: 20pt;
	color: #01582A !important;*/
}

.header-logo-container{
	
	
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: transparent;
	/*background-color: transparent;*/
}


/*End hack*/


/*

    Main Controls

*/
/*[data-id="IAMainControlsContainer"] {*/
/*border-top:1px solid #444444;*/
/*padding-top:.6rem;*/
/*background-color:#ffffff;*/
/*position: fixed;*/
/*bottom: 0;*/
/*text-align: center;*/
/*width:25rem;*/
/*}*/
/*
    Nav Tree

*/
.nav-tree-item {
    display: inline-block;
    border: 0;
    background: transparent;
    text-align: left;
    padding: 0;

}
/*The project title in the tree nav*/
.nav-tree-root {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: .8rem;
    font-size: 80%;
}
.tree-branch {
    padding: .4rem .2rem .2rem 2rem;
    color: #ffffff;
    font-size: 112%;
}
.tree-node {
    padding-left: 3rem;
    font-size: 100%;
    color: #ffffff;
    margin-left: 2.4rem;
}
.nav-tree-item-addnew {
    border: 0;
    display: inline-block;
    background: transparent;
    color: #BBBBBB;
    font-size: 90%;
    margin-top: 0;
    margin-left: 4.6rem;
}
.branch-leaf-list.is-open {
	margin-top: -1rem;
	;
    display: block;
}

.branch-leaf-list .btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background: #4a90e2;
    color: white;
    
}



.branch-leaf-list.is-closed {
    display: none;
}
.branch-leaf-list li {
    line-height: 2.1;
}
.branch-leaf-list li.is-open {
    background-color: #888888;
}
.branch-leaf-list li.is-selected {
    background-color: #eeeeee;
    border-color: #4a90e2;
}
.branch-leaf-list li.is-active {
    background-color: #4a90e2;
}
.branch-leaf-list li.is-active button {

    color: #ffffff;
}
[data-id="IAMainControlsContainer"] button {
    /*display:block;*/
}
[data-id="IAMainControlsContainer"] [data-ui-type="table"] {
}
.main-controls-container {
    width:90%;
    margin:0 auto 0 auto;
}
#mainNavContextHelp{
	color: #444444;
}


/*Hack for demo*/
.btn-primary {
    color: #ffffff;
    background-color: #7DBD33;
    width: 12.5rem;
    height: 4.8rem;
    font-size: 13pt;
    padding-top: 0.7rem;
    padding-left: 0;
    border-bottom: 3px solid #66992D;
}

.main-controls-container .btn-primary:hover {
    color:#689d2a;
    background-color: #ffffff;
    border-bottom: 3px solid #c7c7c7;
}
.main-controls-container .btn-default:hover {
    color:#689d2a;
    background-color: #ffffff;
    border-bottom: 3px solid #c7c7c7;
}
.main-control-command-label {
	text-align: center;
	margin-top: 1.5rem;
	margin-left: 1rem;
	color: #919191;
    font-size:75%;
    display:block;
}
.btn-control-ds {
    border: 0;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 4px;
    background: #7DBC31;
    font-size: 80%;
    color: #ffffff;
	border-bottom: 3px solid #66992D;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background: #75aae8;
	color: white;
	/*color: #689d2a;
	background-color: #ebebeb;
	border-color: #adadad;*/
}

[data-id="MainControlsContainer"] {
    background-color: #494949;
    color: #ffffff;
    width: 28.5rem;
    height: 23.5rem;
    position:fixed;
    bottom:0;
    border-top: 1px solid #7DBD33 !important;
}
.main-controls-title {
	text-transform: uppercase;
	padding-top: 1rem;
	padding-left: 1.7rem;
	font-size: 10pt;
}
.main-controls-container [data-ui-type="cell"] {
    text-align: center;
}
.ds-type-name {
    font-size: 9pt;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

