.slider-btn {
    width:20px;
    height:700px;
    display:inline-block;
    background-color: #444444;
}

.tab-button-cell {
    width:25px;
}
.common-instance-view-container {
    overflow-y:scroll;
}
