/* @override
	http://0.0.0.0:4800/style/src/sean.css */

/* these css rules are temporary until we re-sync the
CSS from original branch */
.login-fail-message-container, .ia-global-exception-container {
    border: 1px solid #444444;
    border-radius:1rem;
    padding:2rem;
    font-size:115%;
}
.ia-global-exception-container {
    margin:2rem;
}
[data-state="closed"] {
    display:none;
}
[data-state="open"] {
    display:inherit;
}
.global-exception-stack-display {
    /*width:58rem;*/
    /*background:#efefef;*/
    /*overflow:auto;*/
}
.model-instance-name-validation.is-valid {
    display:none;
}
.model-instance-header-btn {
    color: #7DBD33;
    font-size: 12pt;
    background: none;
    border: none;
}
.btn-new-model-property {
    white-space: nowrap;
}
.btn-new-model-property:disabled {
    color:#666666;
}
