.slider-btn {
    width:20px;
    height:700px;
    display:inline-block;
    background-color: #444444;
}

.tab-button-cell {
    width:25px;
}
.common-instance-view-container {
    overflow-y:scroll;
}
.login-fail-message-container {
    border: 1px solid #444444;
    border-radius:1rem;
    padding:2rem;
    font-size:115%;
}
