<div data-id="DatasourceDiscoveryContainer">
  <div sl-common-loading-indicator ng-show="isDsTablesLoadingIndicatorVisible"></div>
  <!--<div schema-model-composer="apiSourceTables" ng-show="isSchemaModelComposerVisible()"></div>-->
  <div sl-discovery-model-preview="apiSourceTables"></div>
  <div ng-show="isDsTableGridVisible">
    <span class="discovery-schema-grid-label">Select the tables you want to model</span>
    <input type="text" placeholder="filter" class="discovery-schema-filter-input ui-input" ng-model="filterOptions.filterText" />
    <div class="discovery-schema-list-grid" ng-style="getTableStyle()" ng-grid="dsTablesGridOptions"></div>
  </div>

</div>

