<div class="visual-composer sl-container hbox">
  <div class="component-panel sl-container vbox noexpand">
      <div class="model-list sl-container">
      </div>
      <div class="create-panel sl-container noexpand">
      </div>
  </div>
  <sl-slider-bar></sl-slider-bar>
  <div class="properties-panel sl-container noexpand">
    <div sl-ia-main-content></div>
  </div>
  <sl-slider-bar></sl-slider-bar>
  <div class="canvas-container sl-container">
    <sl-composer-canvas models="models" connections="connections"
      on-select="selectModel(model)" activeInstance="activeInstance">
    </sl-composer-canvas>
  </div>
</div>
