<div class="container-fluid">
  Property Validation Editor
  <div data-ui-type="table" class="pocket-editor-table">
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Required</label>
      </div>
      <div data-ui-type="cell">
        <input type="checkbox">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Email</label>
      </div>
      <div data-ui-type="cell">
        <input type="checkbox">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Max Length</label>
      </div>
      <div data-ui-type="cell">
        <input type="text" class="model-instance-editor-input" placeholder="max length">
      </div>
    </div>
    <div data-ui-type="row">
    <div data-ui-type="cell">
        <label>Min</label>
      </div>
      <div data-ui-type="cell">
        <input type="text" class="model-instance-editor-input" placeholder="min">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Max</label>
      </div>
      <div data-ui-type="cell">
        <input type="text" class="model-instance-editor-input" placeholder="max">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Numeric</label>
      </div>
      <div data-ui-type="cell">
        <input type="checkbox">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Presence of</label>
      </div>
      <div data-ui-type="cell">
        <input type="text" class="model-instance-editor-input" placeholder="includes">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Unique</label>
      </div>
      <div data-ui-type="cell">
        <input type="checkbox">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Pattern</label>
      </div>
      <div data-ui-type="cell">
        <input type="text" class="model-instance-editor-input" placeholder="pattern">
      </div>
    </div>
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <label>Message</label>
      </div>
      <div data-ui-type="cell">
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
