<div class="container-fluid">
  Property Map Editor
  <div data-ui-type="table" class="pocket-editor-table">
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <input type="text" value="FIRST_NAME">
      </div>
      <div data-ui-type="cell">
        <input type="text" value="varchar(55)">
      </div>
      <div data-ui-type="cell">
        <input type="text" placeholder="property name">
      </div>
      <div data-ui-type="cell">
        <button class="btn btn-default btn-xs">String</button>
      </div>
    </div>
  </div>

</div>
