<div class="container-fluid">
  Property Format Editor
  <ul>
    <li>
      <label><input type="checkbox">_trim_</label>
    </li>
    <li>
      <label><input type="checkbox">UPPER CASE</label>
    </li>
    <li>
      <label><input type="checkbox">lower case</label>
    </li>
    <li>
      <label><input type="checkbox">Date</label>
    </li>
    <li>
      <label>format</label>
      <select>
        <option>YYYY/MM/YY</option>
        <option>MM/YY</option>
        <option>dddd/MM/YY</option>
      </select>
    </li>
    <li>
      <label><input type="checkbox">autoincrement</label>
    </li>
  </ul>
</div>
