<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <div class="bin" droppable drop="handleDrop()">
      Main Nav Column
      </div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-9">
          Main Content area
          picture a tab view with multiple tabs open
          draggable
          <div class="bin" droppable drop="handleDrop()">
            hello drop zone
          </div>
          <div class="item" id="item1" draggable>
            hello dragable

          </div>
        </div>
        <div class="col-xs-3">
          <div class="bin" droppable drop="handleDrop()">
          property detail view
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="bin" droppable drop="handleDrop()">
          api data flow area
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
