<div class="ui-form no-border ui-menu-container">
  <sl-ui-menu-dropdown-filter toggler="toggler"
                              filter="filterText"
                              selected="selected" filtering="isFiltering" placeholder="{{placeholder}}"></sl-ui-menu-dropdown-filter>

  <sl-ui-menu-dropdown toggler="toggler">
    <section class="menu">
      <ul ng-show="hasItems">
        <li ng-repeat="item in items track by $index | filter:(isFiltering || '') && filterText"
            ng-class="{ selected: selected == item }">
          <a href ng-click="selectItem(item)">{{item.name || item}}</a>
          <span ng-if="hasDelete" ng-click="_onDelete($index, item)" class="ui-close">x</span>
        </li>
      </ul>
    </section>
    <div ng-transclude class="ui-dropdown-footer"></div>
  </sl-ui-menu-dropdown>
</div>
