<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">
      <div class="common-instance-view-container">
        <div class="api-analytics">
            <section>
              <sl-pm-pid-selector
                on-update-host="updateHost(host)"
                show-pid-selector="false">
              </sl-pm-pid-selector>
              <span class="loading" sl-common-loading-indicator size="medium" ng-show="showChartDataLoading"></span>

              <sl-api-analytics-chart
                chart="apiChart"
                getdata="getData(d, i, depth, initialModel)"
                ng-show="apiChart.data"></sl-api-analytics-chart>
            </section>
        </div>
      </div>
    </div>
  </div>
</div>
