<div class="dialog-content medium apim-navbar-popover">
  <div class="dialog-header">
    <h4 class="header">Publish to IBM API Management</h4>
  </div>
  <div class="dialog-body">
    <p>Have an API Management catalog you want to publish the API to? Start by signing in with your account.</p>
    <p><a href="">Learn more...</a></p>
  </div>
  <div class="dialog-footer">
    <div class="dialog-footer-group">
      <div class="dialog-buttons align-right">
        <button class="ui-btn small"
                popover-template="apimLoginModal.templateUrl"
                popover-placement="bottom"
                ng-click="showSignIn()">Sign in to APIm</button>
      </div>
    </div>
</div>
