/* @override
	http://0.0.0.0:3003/style/dev/icons.css
	http://0.0.0.0:3003/style/src/icons.css
	http://0.0.0.0:4800/style/src/icons.css */
/* version 0.0.1 see google docs ./Design -> Icons for src files and a backup of icomoon.io export */
/* remember to modify path name to ../fonts/ when copying icomoon style.css file into icons.less */
/* cut-n-paste these rules from icomoon exported style.css file */
/* --------------------------------------- */
/* ------ BEGIN CUT AND PASTE HERE ------- */
/* --------------------------------------- */
@font-face {
  font-family: 'Strongloop';
  src: url('/fonts/Strongloop.eot?fzygo7');
  src: url('/fonts/Strongloop.eot?#iefixfzygo7') format('embedded-opentype'), url('/fonts/Strongloop.woff?fzygo7') format('woff'), url('/fonts/Strongloop.ttf?fzygo7') format('truetype'), url('/fonts/Strongloop.svg?fzygo7#Strongloop') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="sl-icon-"],
[class*=" sl-icon-"] {
  font-family: 'Strongloop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sl-icon-play:before {
  content: "\e618";
}
.sl-icon-restart-2:before {
  content: "\e619";
}
.sl-icon-restart:before {
  content: "\e61a";
}
.sl-icon-stop:before {
  content: "\e61b";
}
.sl-icon-checkmark-outline:before {
  content: "\e615";
}
.sl-icon-box-arrow-down:before {
  content: "\e600";
}
.sl-icon-link:before {
  content: "\e601";
}
.sl-icon-file:before {
  content: "\e602";
}
.sl-icon-minus:before {
  content: "\e603";
}
.sl-icon-minus-thick:before {
  content: "\e604";
}
.sl-icon-search:before {
  content: "\e605";
}
.sl-icon-question-mark:before {
  content: "\e606";
}
.sl-icon-plus:before {
  content: "\e607";
}
.sl-icon-plus-thick:before {
  content: "\e608";
}
.sl-icon-plus-sign:before {
  content: "\e609";
}
.sl-icon-play2:before {
  content: "\e60a";
}
.sl-icon-on-off:before {
  content: "\e60b";
}
.sl-icon-logo:before {
  content: "\e60c";
}
.sl-icon-help:before {
  content: "\e60d";
}
.sl-icon-lightning:before {
  content: "\e60e";
}
.sl-icon-folder:before {
  content: "\e60f";
}
.sl-icon-down-arrow:before {
  content: "\e610";
}
.sl-icon-database:before {
  content: "\e611";
}
.sl-icon-close:before {
  content: "\e612";
}
.sl-icon-chevron-down:before {
  content: "\e613";
}
.sl-icon-checkmark:before {
  content: "\e614";
}
.sl-icon-arrow-down:before {
  content: "\e616";
}
.sl-icon-arrow-right:before {
  content: "\e617";
}
/* --------------------------------------------------- */
/* ------------- END CUT AND PASTE HERE -------------- */
/* --------------------------------------------------- */
/* begin custom rules, needs to persist across font style updates, these are not included in icomoon export style.css */
.sl-icon {
  position: relative;
  top: 1px;
  display: inline-block;
}
.sl-icon-database:before {
  font-size: 16pt;
}
.sl-icon-folder:before {
  margin-right: 10px;
  font-size: 12pt;
}
.sl-icon-on-off:before {
  color: #01582A;
  font-size: 18pt;
  margin-left: 2rem;
}
.sl-icon-file:before {
  font-weight: lighter;
}
/* end custom rules */
.sl-app-icon {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 1.5rem auto 0;
}
.sl-app-icon-profiler {
  background: url(/images/profiler_default.svg);
}
.sl-app-icon-composer {
  background: url(/images/composer_default.svg);
}
.sl-app-icon-metrics {
  background: url(/images/metrics_default.svg);
}
.sl-app-icon-advisor {
  background: url(/images/profiler_default.svg);
}
.sl-app-icon-build-deploy {
  background: url(/images/build_deploy_default.svg);
}
.sl-app-icon-placeholder {
  background: url(/images/icon_placeholder.svg);
}
.sl-app-icon-placeholder.pos-1 {
  opacity: .3;
}
.sl-app-icon-placeholder.pos-2 {
  opacity: .6;
}
.sl-app-icon-profiler-hover {
  background: url(/images/profiler_over.svg);
}
.sl-app-icon-composer-hover {
  background: url(/images/composer_over.svg);
}
.sl-app-icon-metrics-hover {
  background: url(/images/metrics_over.svg);
}
.sl-app-icon-advisor-hover {
  background: url(/images/profiler_over.svg);
}
.sl-app-icon-build-deploy-hover {
  background: url(/images/build_deploy_over.svg);
}
/* renamed */
/*connecticon -> link*/
/*document -> file*/
/*off -> on-off*/
/*folder-open -> folder*/
/*question-sign -> help*/
/*remove -> close*/
/*navbranch-open -> arrow-down*/
/*navbranch-closed -> arrow-right*/
/*contextmenu -> box-arrow-down*/
/*minus-sign -> minus-thick*/
/*plus-sign -> plus-thick*/
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.sl-ui-select {
  border-radius: 0.4rem;
  display: inline-block;
  background-color: #7dbd33;
  position: relative;
  cursor: pointer;
  height: 4.3rem;
  font-size: 14px;
  z-index: 2;
}
.sl-ui-select:hover {
  background-color: #65a718;
}
.sl-ui-select span.selected {
  display: block;
  color: #ffffff;
  padding: 1rem 4.5rem 1rem 1.5rem;
  position: relative;
  z-index: 2;
  border-radius: 0.4rem;
  background-color: inherit;
}
.sl-ui-select span.selected .sl-icon {
  font-size: .85rem;
  color: #ffffff;
  position: absolute;
  top: 1.55rem;
  right: 1.5rem;
}
.sl-ui-select.open {
  background-color: #ffffff;
  border-radius: 0.4rem 0.4rem 0 0;
}
.sl-ui-select.open span.selected,
.sl-ui-select.open span.selected .sl-icon {
  color: #7dbd33;
}
.sl-ui-select.open span.selected {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.sl-ui-select.open span.selected::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background: #ffffff;
  height: 7px;
  bottom: -4px;
  left: 0;
}
.sl-ui-select .selected {
  display: block;
}
.sl-ui-select .selected .sl-icon {
  color: #4a90e2;
}
.sl-ui-select .selected:hover {
  color: #ffffff;
}
.sl-ui-select .selected:hover .sl-icon {
  color: #ffffff;
}
.sl-ui-select ul {
  cursor: default;
  display: block;
  position: absolute;
  top: 4.3rem;
  width: 20rem;
  padding: 1rem 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.sl-ui-select ul li {
  display: block;
  padding: 0 1rem;
}
.sl-ui-select ul a {
  display: block;
  padding: .5rem 2rem .5rem 1em;
  text-decoration: none;
  border-radius: 0.3rem;
  color: #999999;
  position: relative;
}
.sl-ui-select ul a:hover {
  background-color: #7dbd33;
  color: #ffffff;
}
.sl-ui-select ul a .sl-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}
.sl-ui-select.more {
  background-color: #ffffff;
  color: #999999;
}
.sl-ui-select.more ul {
  top: 30px;
  width: 17rem;
}
.sl-ui-select.more ul a:hover {
  background-color: #5f8de1;
}
.sl-ui-select.more span.selected {
  color: #999999;
  padding: .5rem 4.5rem .5rem 1rem;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
}
.sl-ui-select.more span.selected.selected-item {
  background-color: #5f8de1;
  color: #ffffff;
}
.sl-ui-select.more span.selected.selected-item .sl-icon {
  color: #ffffff;
}
.sl-ui-select.more span.selected .sl-icon {
  color: #999999;
  top: 1rem;
}
.sl-ui-select.more.open span.selected.selected-item .sl-icon {
  color: #ffffff;
}
.sl-ui-select.more.open span.selected.selected-item:after {
  left: -1px;
  width: 101%;
  background-color: #5f8de1;
}
.ui-select-scroll {
  position: absolute;
  max-height: 10rem;
  overflow-y: auto;
  width: 20rem;
  border: 1px solid black;
  background: white;
  padding: .5rem 1rem;
  margin-left: 1rem;
}
.ui-select-scroll li {
  padding: .5rem 1rem;
  cursor: pointer;
}
.ui-select-scroll li.active {
  border: 1px solid blue;
  border-radius: 0.3rem;
}
.ui-select-scroll li span:nth-child(1) {
  width: 10rem;
}
.ui-select-scroll li span:nth-child(2) {
  width: auto;
}
.ui-msg-inline-error {
  color: #d9534f;
}
.ui-msg-inline-success {
  color: #7dbd33;
}
.ui-msg-inline-info {
  color: #4a90e2;
}
.ui-toggler button {
  font-size: 1.5rem;
  font-weight: 300;
  color: #aaaaaa;
  background: #ffffff;
  border-radius: 0.3rem;
  border: 1px solid #7fc030;
  padding: .75rem 1.25rem;
  width: 12rem;
  text-align: center;
}
.ui-toggler button:nth-child(1) {
  border-radius: 0.3rem 0 0 0.3rem;
  border-right: none;
}
.ui-toggler button:nth-child(2) {
  border-radius: 0 0.3rem 0.3rem 0;
  border-left: none;
}
.ui-toggler button.active {
  color: #ffffff;
  background: #7fc030;
  box-shadow: inset 0 0 0 0.2rem #ffffff;
}
.ui-toggler.small {
  display: inline-block;
}
.ui-toggler.small button {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 6rem;
  border-color: #aaaaaa;
}
.ui-toggler.small button.active {
  background: #aaaaaa;
}
.ui-switch {
  background: transparent;
  border: none;
  overflow: visible;
}
.ui-switch .ui-switch-toggle {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  color: #000000;
  background: #ffffff;
  border-radius: 50px;
  border: 1px solid #7fc030;
  width: 4.6rem;
  height: 2.6rem;
  margin: 0 .75rem;
  overflow: hidden;
}
.ui-switch .ui-switch-toggle .ui-switch-circle {
  transition: left 0.2s ease-in-out;
  position: absolute;
  top: .2rem;
  left: .2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: #7fc030;
}
.ui-switch.ui-switch-right .ui-switch-circle {
  left: 2.2rem;
}
.ui-switch .ui-switch-label {
  display: inline-block;
  position: relative;
  top: -0.7rem;
  width: 5rem;
  text-align: left;
  color: #999999;
}
.ui-switch .ui-switch-label:nth-child(1) {
  text-align: right;
}
.ui-actions {
  text-align: right;
  margin-right: 3rem;
  position: relative;
}
.ui-actions button {
  border: none;
  border-radius: 0.3rem;
  background: #7fc030;
  color: #ffffff;
  padding: .75rem 2.25rem;
  margin-left: 1rem;
  border-bottom: 2px solid #67992d;
  font-weight: 300;
  position: relative;
}
.ui-actions button[disabled],
.ui-actions button[disabled]:hover {
  color: #999999;
  background: #cccccc;
  border-bottom: 2px solid #999999;
}
.ui-actions button:hover {
  background-color: #67992d;
}
.ui-actions button .loading {
  position: absolute;
  left: -2rem;
  top: 1.75rem;
}
.ui-btn {
  border: none;
  border-radius: 0.3rem;
  background: #7fc030;
  color: #ffffff;
  padding: .75rem 2.25rem;
  margin-left: 1rem;
  border-bottom: 2px solid #67992d;
  font-weight: 300;
}
.ui-btn[disabled],
.ui-btn[disabled]:hover {
  color: #999999;
  background: #cccccc;
  border-bottom: 2px solid #999999;
}
.ui-btn:hover {
  background-color: #67992d;
}
form.ui-form {
  color: #999999;
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 0.3rem;
  border: 1px solid #cccccc;
}
form.ui-form .ui-form-group {
  margin-bottom: 2rem;
}
form.ui-form .ui-form-group.invalid {
  color: #d9534f;
}
form.ui-form .ui-form-group.invalid .error {
  margin: 1rem;
  font-size: 1.3rem;
}
form.ui-form .ui-form-group.invalid input {
  border-color: #d9534f;
}
form.ui-form fieldset {
  position: relative;
}
form.ui-form fieldset legend {
  color: #999999;
  font-weight: 300;
  position: absolute;
  top: -4.2rem;
  left: 0;
  border: none;
}
form.ui-form label {
  color: #999999;
  display: block;
}
form.ui-form input[type=text],
form.ui-form input[type=number] {
  border: 1px solid #cccccc;
  width: 35rem;
  padding: .5rem 1rem;
  border-radius: 0.3rem;
}
form.ui-form input[type=text][type=number],
form.ui-form input[type=number][type=number] {
  padding-right: 0;
}
form.ui-form input[type=text][disabled],
form.ui-form input[type=number][disabled] {
  color: #999999;
  background: #eeeeee;
}
.ui-arrow-next {
  width: 70%;
  height: 1rem;
  margin: 7rem auto 1rem;
  background: #7fc030;
  position: relative;
}
.ui-arrow-next:after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 0;
  margin-top: -0.5rem;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #7fc030;
}
.ui-popover {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
  text-align: left;
}
.ui-popover.menu ul li {
  display: block;
}
.ui-popover .ui-arrow-left {
  width: 0;
  height: 0;
  position: absolute;
  left: -1rem;
  top: 1rem;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid #aaaaaa;
}
.ui-popover .ui-arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  right: -1rem;
  top: 1rem;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #aaaaaa;
}
.ui-popover .ui-arrow-top {
  width: 0;
  height: 0;
  position: absolute;
  right: 1rem;
  top: -1rem;
  border-bottom: 1rem solid #aaaaaa;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
}
.ui-popover.menu .ui-arrow-top {
  border-bottom-color: #ffffff;
}
.ui-popover.menu .ui-popover-content.bottom {
  top: 3rem;
  right: -1.2rem;
  left: auto;
}
.ui-popover .ui-popover-content {
  position: absolute;
  padding: 0;
  left: 3rem;
  top: -1rem;
  width: 30rem;
  border: 1px solid #aaaaaa;
  border-radius: 0.3rem;
  background: #ffffff;
  z-index: 2;
  min-height: 10rem;
}
.ui-popover .ui-popover-content.left {
  left: -31rem;
}
.ui-popover .ui-popover-content.bottom {
  top: 2.2rem;
  right: 0;
  left: auto;
}
.ui-popover .ui-popover-content .ui-popover-title {
  margin: 0;
  padding: 1rem 4rem 1rem 2rem;
  color: #eeeeee;
  background: #aaaaaa;
  font-size: 2rem;
  font-weight: 400;
}
.ui-popover .ui-popover-content .ui-popover-body {
  padding: 1rem 2rem;
  max-height: 40rem;
  overflow-y: auto;
  font-size: 1.6rem;
  color: #999;
}
.ui-popover .ui-popover-content .sl-icon-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #eeeeee;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
body,
body.platform-mac,
.go-to-line-dialog {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
body.platform-mac {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
body.platform-mac .help-key {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
/* hide the top toolbar, only "Profiles" tab is used at the moment */
.toolbar {
  display: none;
}
/* hide start button */
.control-profiling {
  display: none;
}
/* hide record heap allocations */
.profile-launcher-view-content form {
  /* hide radio buttons */
}
.profile-launcher-view-content form label:nth-child(3) {
  display: none;
}
.record-profile-status-bar-item {
  display: none;
}
.hide {
  display: none;
}
.profile-sidebar-tree-item .icon,
.heap-snapshot-sidebar-tree-item .icon {
  content: url(Images/menu-icon.png);
}
.panel-enabler-view label:hover input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-enabler-view input[type="radio"] {
  background-image: auto;
  border: none;
  border-radius: 0;
  background: transparent url(Images/radio-small.png) no-repeat 0 0;
}
.panel-enabler-view input[type="radio"]:hover {
  background: url(Images/radio-hover-small.png);
}
.panel-enabler-view input[type="radio"][disabled] {
  background: url(Images/radio-disabled-small.png);
}
.panel-enabler-view input[type="radio"]:active:not(:disabled) {
  background: url(Images/radio-selected-active-small.png);
}
.panel-enabler-view input[type="radio"]:checked {
  background: url(Images/radio-selected-small.png);
}
.panel-enabler-view input[type="radio"]:checked:hover {
  background: url(Images/radio-selected-hover-small.png);
}
.panel-enabler-view input[type="radio"]:checked[disabled] {
  background: url(Images/radio-selected-disabled-small.png);
}
.panel-enabler-view input[type="radio"]:checked:active {
  background: url(Images/radio-selected-active-small.png);
}
body.inactive button.text-button,
button.text-button,
body.inactive button.text-button:not(:disabled):hover,
button.text-button:not(:disabled):hover,
body.inactive button.text-button:not(:disabled):active,
button.text-button:not(:disabled):active {
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: 0.3rem;
  background: #7fc030;
  color: #ffffff;
  padding: .75rem 2.25rem;
  margin-left: 1rem;
  border-bottom: 2px solid #67992d;
  font-weight: 300;
  margin-left: 20px;
}
body.inactive button.text-button[disabled],
button.text-button[disabled],
body.inactive button.text-button:not(:disabled):hover[disabled],
button.text-button:not(:disabled):hover[disabled],
body.inactive button.text-button:not(:disabled):active[disabled],
button.text-button:not(:disabled):active[disabled],
body.inactive button.text-button[disabled]:hover,
button.text-button[disabled]:hover,
body.inactive button.text-button:not(:disabled):hover[disabled]:hover,
button.text-button:not(:disabled):hover[disabled]:hover,
body.inactive button.text-button:not(:disabled):active[disabled]:hover,
button.text-button:not(:disabled):active[disabled]:hover {
  color: #999999;
  background: #cccccc;
  border-bottom: 2px solid #999999;
}
body.inactive button.text-button:hover,
button.text-button:hover,
body.inactive button.text-button:not(:disabled):hover:hover,
button.text-button:not(:disabled):hover:hover,
body.inactive button.text-button:not(:disabled):active:hover,
button.text-button:not(:disabled):active:hover {
  background-color: #67992d;
}
body.inactive button.text-button.fetch-cpu,
button.text-button.fetch-cpu,
body.inactive button.text-button:not(:disabled):hover.fetch-cpu,
button.text-button:not(:disabled):hover.fetch-cpu,
body.inactive button.text-button:not(:disabled):active.fetch-cpu,
button.text-button:not(:disabled):active.fetch-cpu {
  background: #d4470f;
  border-bottom-color: #8d2f0a;
}
.sidebar {
  background-color: #595959;
}
.status-bar {
  background-color: #656565;
  border-bottom-color: #656565;
}
.profiles.panel .status-bar {
  border-bottom-color: #656565;
}
.split-view.hbox > .split-view-resizer > .split-view-resizer-border {
  border-left-color: #000000;
}
.sidebar-tree-section,
select.status-bar-item,
.profiles-sidebar-tree-box {
  text-shadow: none;
  color: #ffffff;
}
.sidebar-tree-item.selected {
  text-shadow: none;
}
.sidebar-tree-item {
  color: #ffffff;
}
