<div class="sl-forms-right">
  <!-- deploy form directive -->
  <form
    name="deploygit"
    ng-show="buildId == 'git'"
    class="ui-form"
    novalidate
    ng-submit="deployGit(deploygit)">
    <fieldset>
      <legend>
        Deploy git
        <sl-popover-help name="deploy-git" position="left"></sl-popover-help>
      </legend>
      <div class="ui-form-group"
           ng-class="{
              valid: deploygit.deploy.$valid && deploy.git.submitted,
              invalid: deploygit.deploy.$invalid && deploy.git.submitted
            }">

        <label><span class="ui-label-txt">Git deploy branch:</span></label>
        <input
          type="text"
          class="ui-input"
          placeholder="eg: /deploy"
          ng-model="deploy.git.deploy"
          name="deploy"
          required>
        <p class="error" ng-show="deploygit.deploy.$error.required && deploy.git.submitted">Git deploy branch is required</p>
      </div>
      <div class="ui-form-group sl-server"
           ng-class="{
              valid: ( deploygit.hostname.$valid || deploygit.port.$valid || deploygit.processes.$valid ) && deploy.git.submitted,
              invalid: ( deploygit.deploy.$invalid || deploygit.port.$invalid || deploygit.processes.$invalid ) && deploy.git.submitted
            }">

        <!-- host selector -->
        <div class="pm-host-selector-container">
          <label>
            <span class="ui-label-txt">Hostname:</span>
          </label>
          <br  />
          <div class="btn-group pm-host-select dropdown" dropdown ng-show="managerHosts">
            <button type="button"
                    class="btn btn-default dropdown-toggle" dropdown-toggle>
              {{selectedPMHost.host}} : {{selectedPMHost.port}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" dropdown-menu>
              <li ng-repeat="host in managerHosts">
                <button type='button' class="link-cmd" ng-click="changePMHost(host)">{{host.host}}:{{host.port}}</button>
              </li>
              <li class="divider"></li>
              <li>
                <button type="button" class="link-cmd" ng-click="goToAddPM()">add PM Host</button>
              </li>
            </ul>
          </div>
          <input
            type="hidden"
            ng-model="deploy.host.hostname"
            name="hostname"
            required>
        </div>
        <label>
          <span id="ui-label-txt">Processes:</span>
          <input
            type="number"
            min="1"
            placeholder="4"
            ng-model="deploy.host.processes"
            name="processes"
            required>
        </label>
        <p class="error" ng-show="deploygit.hostname.$error.required && deploy.git.submitted">Hostname is required</p>
        <p class="error" ng-show="deploygit.port.$error.required && deploy.git.submitted">Port is required</p>
        <p class="error" ng-show="deploygit.processes.$error.required && deploy.git.submitted">Number of processes are required</p>
      </div>
    </fieldset>
    <div class="ui-actions">
      <button class="ui-btn primary with-spinner">
        Deploy
        <span class="loading" sl-common-loading-indicator size="small" ng-show="deploy.git.loading"></span>
      </button>
    </div>
    <sl-common-form-message message="deploy.git.message" type="deploy.git.messageType"></sl-common-form-message>
  </form>

  <form
    name="deployuniversal"
    ng-show="buildId == 'universal'"
    class="ui-form"
    novalidate
    ng-submit="deployUniversal(deployuniversal)">
    <fieldset>
      <legend>
        Deploy tar file
        <sl-popover-help name="deploy-file" position="left"></sl-popover-help>
      </legend>
      <div class="ui-form-group"
           ng-class="{
              valid: deployuniversal.archive.$valid && deploy.universal.submitted,
              invalid: deployuniversal.archive.$invalid && deploy.universal.submitted
            }">
        <label>
          <span class="ui-label-txt">Fully qualified path to archive:</span>
        </label>
        <input
          type="text"
          class="ui-input"
          placeholder="eg: /home/user/builds/project-v1.0.1.tgz"
          ng-model="deploy.universal.archive"
          name="archive"
          required>
        <!--<button class="ui-file" ng-click="clickUploadFile()" type="button">...</button>-->
        <!--<input id="deploy-file-upload" type="file" class="hide" ng-file-select="onFileSelect($files)" name="uploadarchive">-->

        <p class="error" ng-show="deployuniversal.archive.$error.required && deploy.universal.submitted">Archive filename is required</p>
      </div>
      <div class="ui-form-group sl-server"
           ng-class="{
              valid: ( deployuniversal.hostname.$valid || deployuniversal.port.$valid || deployuniversal.processes.$valid ) && deploy.universal.submitted,
              invalid: ( deployuniversal.deploy.$invalid || deployuniversal.port.$invalid || deployuniversal.processes.$invalid ) && deploy.universal.submitted
             }">
        <!-- host selector -->
        <div class="pm-host-selector-container">
          <label>
            <span class="ui-label-txt">Hostname:</span>
          </label>
          <br  />
          <div class="btn-group pm-host-select dropdown" dropdown ng-show="managerHosts">
            <button type="button"
                    class="btn btn-default dropdown-toggle" dropdown-toggle>
              {{selectedPMHost.host}} : {{selectedPMHost.port}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" dropdown-menu>
              <li ng-repeat="host in managerHosts">
                <button class="link-cmd" ng-click="changePMHost(host)">{{host.host}}:{{host.port}}</button>
              </li>
              <li class="divider"></li>
              <li>
                <button type="button" class="link-cmd" ng-click="goToAddPM()">add PM Host</button>
              </li>
            </ul>
          </div>
          <input
            type="hidden"
            ng-model="deploy.host.hostname"
            name="hostname"
            required>
        </div>
        <label>
          <span class="ui-label-txt">Processes:</span>
          <input
            type="number"
            class="ui-number"
            min="1"
            placeholder="4"
            ng-model="deploy.host.processes"
            name="processes"
            required>
        </label>
        <p class="error" ng-show="deployuniversal.hostname.$error.required && deploy.universal.submitted">Hostname is required</p>
        <p class="error" ng-show="deployuniversal.port.$error.required && deploy.universal.submitted">Port is required</p>
        <p class="error" ng-show="deployuniversal.processes.$error.required && deploy.universal.submitted">Number of processes are required</p>
      </div>

    </fieldset>
    <div class="ui-actions">
      <button class="ui-btn primary with-spinner">
        Deploy
        <span class="loading" sl-common-loading-indicator size="small" ng-show="deploy.universal.loading"></span>
      </button>
    </div>
    <sl-common-form-message message="deploy.universal.message" type="deploy.universal.messageType"></sl-common-form-message>
  </form>
</div>
