<div class="sl-forms-left">
  <!-- build form directive -->
  <form
    name="buildgit"
    ng-show="buildId == 'git'"
    class="ui-form"
    novalidate
    ng-submit="buildGit(buildgit)"
    ng-class="{ disabled: deployId == 'existing' }"
    >
    <fieldset>
      <legend>
        Build git
        <sl-popover-help name="build-git"></sl-popover-help>
      </legend>
      <div
        class="ui-form-group"
        ng-class="{
                valid: buildgit.url.$valid && build.git.submitted,
                invalid: buildgit.url.$invalid && build.git.submitted
              }">
        <label><span class="ui-label-txt">Git current branch:</span></label>
        <!-- ng-model="build.git.url" -->
        <input
          type="text"
          class="ui-input"
          placeholder="eg: git@github.com/project/master"
          ng-disabled="true || deployId == 'existing'"
          name="url"
          value="Your current directory"
          required>
        <p class="error" ng-show="buildgit.url.$error.required && build.git.submitted">Git URL is required</p>
      </div>
      <div class="ui-form-group"
           ng-class="{
                valid: buildgit.deploy.$valid && build.git.submitted,
                invalid: buildgit.deploy.$invalid && build.git.submitted
              }">
        <label><span class="ui-label-txt">Git deploy branch:</span></label>
        <input
          type="text"
          class="ui-input"
          placeholder="eg: /deploy"
          ng-disabled="deployId == 'existing'"
          ng-model="build.git.deploy"
          name="deploy"
          required>
        <p class="error" ng-show="buildgit.deploy.$error.required && build.git.submitted">Git deploy branch is required</p>
      </div>
    </fieldset>
    <div class="ui-actions">
      <button ng-disabled="deployId == 'existing'" class="ui-btn primary with-spinner">
        Build
        <span class="loading" sl-common-loading-indicator size="small" ng-show="build.git.loading"></span>
      </button>
    </div>
    <sl-common-form-message message="build.git.message" type="build.git.messageType"></sl-common-form-message>
  </form>

  <form
  name="builduniversal"
  ng-show="buildId == 'universal'"
  class="ui-form"
  ng-submit="buildUniversal(builduniversal)"
  ng-class="{ disabled: deployId == 'existing' }"
  novalidate>
    <fieldset>
      <legend>
        Build tar file
        <sl-popover-help name="build-file"></sl-popover-help>
      </legend>
      <div class="ui-form-group"
           ng-class="{
                valid: builduniversal.archive.$valid && build.universal.submitted,
                invalid: builduniversal.archive.$invalid && build.universal.submitted
              }">

        <div>
          <label><span class="ui-label-txt">Archive filename:</span></label>
          <button class="link-cmd" type="button" ng-click="populateDeployArchive(pkg)">
          <span class="filename">../{{pkg.name}}-{{pkg.version}}.tgz</span>
          </button>
          <input
            ng-show="false"
            class="ui-input"
            type="text"
            placeholder="Generated by build process: <name>-<version>.tgz"
            ng-disabled="true || deployId == 'existing'"
            ng-model="build.universal.archive"
            name="archive">
        </div>
        <p class="error" ng-show="builduniversal.archive.$error.required && build.universal.submitted">Archive filename is required</p>
      </div>
    </fieldset>
    <div class="ui-actions">
      <button ng-disabled="deployId == 'existing'" class="ui-btn primary with-spinner">
        Build
        <span class="loading" sl-common-loading-indicator size="small" ng-show="build.universal.loading"></span>
      </button>
    </div>
    <sl-common-form-message message="build.universal.message" type="build.universal.messageType"></sl-common-form-message>
  </form>
</div>
