<div data-id="IAMainContentContainer">
  <div sl-canvas-api-view
       data-id="CanvasApiContainer"
       class="main-content-item-container"></div>
  <div class="main-content-item-container" data-id="CommonInstanceContainer">
    <div data-ui-type="table">
      <div data-ui-type="row">
        <div data-ui-type="cell">
          <div sl-common-instance-container></div>
        </div>
        <div data-ui-type="cell" class="tab-button-cell">
          <button class="slider-btn" data-id="InstanceSliderBtn">
            <div class="tab-button-label">Editor</div>
          </button>
        </div>
      </div>
    </div>


  </div>
  <!--<div sl-explorer-view-->
       <!--data-id="ExplorerContainer"-->
       <!--class="main-content-item-container"></div>-->
</div>
