<div data-id="IAMainContentContainer">
  <div sl-model-editor-main
       data-id="ModelEditorMainContainer"
       ng-style="{ 'z-index': getZIndex() }"
       class="main-content-item-container"></div>
  <!--<div sl-common-instance-preview-->
       <!--data-id="PreviewInstanceContainer"-->
       <!--ng-style="{ 'z-index': getZIndex() }"-->
       <!--class="main-content-item-container"></div>-->
  <!--<div sl-canvas-api-view-->
       <!--data-id="CanvasApiContainer"-->
       <!--ng-style="{ 'z-index': getZIndex() }"-->
       <!--class="main-content-item-container"></div>-->
</div>
