<div data-id="IAMainContentContainer">
  <div sl-canvas-api-view
       data-id="CanvasApiContainer"
       class="main-content-item-container"></div>
  <!--<div sl-common-instance-create-->
       <!--data-id="NewInstanceContainer"-->
       <!--class="main-content-item-container"></div>-->
  <div sl-datasource-editor-main
       data-id="DatasourceEditorMainContainer"
       class="main-content-item-container"></div>
  <div sl-model-editor-main
       data-id="ModelEditorMainContainer"
       class="main-content-item-container"></div>
  <!--<div sl-common-instance-preview-->
       <!--data-id="PreviewInstanceContainer"-->
       <!--class="main-content-item-container"></div>-->

  <div sl-explorer-view
       data-id="ExplorerContainer"
       class="main-content-item-container"></div>
</div>
