<div data-id="MainControlsContainer">
  <div data-id="IAMainControlsContainer">
    <div class="main-controls-title">Create</div>

    <div class="main-controls-container">
      <div data-ui-type="table">
        <div data-ui-type="row">
          <div data-ui-type="cell">
            <label class="main-control-command-label">MODEL</label>
            <button ng-click="createModelViewRequest($event)" type="button" class="ui-btn primary dark-bg btn-fullsize">
              <span class="sl-icon sl-icon-plus-sign"></span>
              <span class="maincontrol-main-button-label">New</span>
            </button>
          </div>
          <div data-ui-type="cell" class="main-control-apprender-container">
          </div>
        </div>
      </div>
      <sl-ia-nav-main-datasource></sl-ia-nav-main-datasource>
    </div>
</div>
