 <div class="ia-nav-container">
   <div>
     <div class="ia-project-title-header-container">
       <div class="ia-project-nav-help">
         <a target="_blank" href="http://docs.strongloop.com/display/ARC/StrongLoop+Arc">
           <span id="mainNavContextHelp" data-id="MainNavContextHelp" class="sl-icon sl-icon-question-mark"></span>
         </a>
       </div>
       <span class="ia-project-title-container">{{projectName}}</span>
     </div>
     <!--<IAMainModelNav class="ia-model-nav-container" scope={this.props.scope} />-->
     <sl-ia-nav-model></sl-ia-nav-model>
     <sl-ia-nav-datasource></sl-ia-nav-datasource>
     <!--<IAMainDatasourceNav class="ia-datasource-nav-container" scope={this.props.scope} />-->
   </div>
 </div>
