<div class="metrics-chart-view-container">
  <div ng-repeat="chart in chartData" class="chart-container">
    <div data-ui-type="table">
      <div data-ui-type="row">
        <div data-ui-type="cell" class="nav-chart-col metrics-nav-column metrics-chart-nav-item" data-id="MetricsSidebarContainer">
          <ul>
            <li ng-repeat="metric in chart.metrics" ng-class="{true:'', false:'is-disabled'}[metric.active]">
              <button class="btn-command" ng-click="toggleChartMetric(metric)">{{ metric.name }}</button>
              <span style="{{ getChartControlItemColor(metric) }}">&nbsp;</span>
            </li>
          </ul>
        </div>
        <div data-ui-type="cell" class="main-chart-col">
          <h3>{{ chart.displayName }}</h3>
          <nvd3 class="metrics-chart" options="getChartOptions(chart.chartConfig)" data="getChartModel(chart.chartModel)"></nvd3>
        </div>
      </div>
    </div>

  </div>
</div>
