<div>
  <ul>
    <li class="metrics-chart-nav-item">
      <span>CPU</span>
      <ul>
        <li ng-repeat="item in viewCharts.cpu.metrics" ng-class="{true:'', false:'is-disabled'}[item.active]">
          <button class="btn-command" ng-click="toggleChartMetric(item.name)">{{ item.display }}</button>
          <span style="{{ getChartControlItemColor(item) }}">&nbsp;</span>
        </li>
      </ul>
    </li>
    <li class="metrics-chart-nav-item">
      <span>Loop</span>
      <ul>
        <li ng-repeat="item in viewCharts.loop.metrics" ng-class="{true:'', false:'is-disabled'}[item.active]">
          <button class="btn-command" ng-click="toggleChartMetric(item.name)">{{ item.display }}</button>
          <span style="{{ getChartControlItemColor(item) }}">&nbsp;</span>
        </li>
      </ul>
    </li>
    <li class="metrics-chart-nav-item">
      <span>Heap</span>
      <ul>
        <li ng-repeat="item in viewCharts.heap.metrics" ng-class="{true:'', false:'is-disabled'}[item.active]">
          <button class="btn-command" ng-click="toggleChartMetric(item.name)">{{ item.display }}</button>
          <span style="{{ getChartControlItemColor(item) }}">&nbsp;</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
