<div class="metrics-main-container">
  <sl-pm-pid-selector></sl-pm-pid-selector>
  <div sl-metrics-title class="metrics-title-container" data-ui-type="table">
    <div data-ui-type="row">
      <div data-ui-type="cell">
        <div class="metrics-title">Metrics</div>
      </div>
      <div data-ui-type="cell" class="metrics-data-point-count-col">
         <div class="metrics-header-label">Data Points: <span class="instrument-value">{{ dataPointCount }}</span></div>
      </div>
      <div data-ui-type="cell" class="metrics-visual-ticker-col">
        <div sl-metrics-visual-ticker class="metrics-visual-ticker-container"></div>
      </div>
    </div>
  </div>
  <div data-id="metrics-main-content-container" ng-class="{ disabled: !isValidProcess() }">
    <div sl-metrics-chart-container class="metrics-main-content-layout" ></div>
  </div>
</div>


