<div class="inspector eventloop">
  <div class='panel panel-primary'>

    <ul class='list-group'>
      <li class='list-group-item'>
        <strong>Name: </strong>{{ tracingCtx.currentFunction.item.name }}
      </li>

      <li class='list-group-item'>
        <strong>Cost: </strong>{{ tracingCtx.currentFunction.item.cost }}
      </li>


      <li class='top-costs list-group-item' ng-show="isShowTopCosts()">
        <strong>Top Costs</strong>
        <ul class='functions'>
          <li ng-repeat="costItem in tracingCtx.currentFunction.item.costSummary.topCosts" class="function" data-id='{{ costItem.id }}'>
            <div class='header row'>
              <div class='function-name col-md-12 col-lg-8'>
                {{ tracingCtx.currentTrace.functions[costItem.id].name }}
              </div>
              <div class='col-md-12 col-lg-4'>
                <div class="progress">
                  <span class='progress-value'>{{ costItem.selfPct }}%</span>
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{  costItem.selfPct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ d.selfPct }}%;"></div>
                </div>
              </div>
            </div>
            {{ tracingCtx.currentTrace.functions[costItem.id] ? fn({ item: costItem, fns: tracingCtx.currentTrace.functions }) : 'asyncronous wait' }}
          </li>

        </ul>
      </li>


    </ul>

  </div>
</div>
