<div class="inspector">
  <div class='panel panel-primary'>

    <ul class='list-group'>

      <li class='list-group-item'>
        <strong>Name: </strong>{{ inspectorModel.item.name }}
      </li>

      <li ng-show="tracingCtx.currentTrace.functions[inspectorModel.item.id].module.name" class='list-group-item'><strong>Module: </strong>{{ tracingCtx.currentTrace.functions[inspectorModel.item.id].module.name }}</li>
      <li ng-show="tracingCtx.currentTrace.functions[inspectorModel.item.id].module.version" class='list-group-item'><strong>Version: </strong>{{ tracingCtx.currentTrace.functions[inspectorModel.item.id].module.version }}</li>
      <li ng-show="tracingCtx.currentTrace.functions[inspectorModel.item.id].module.filename" class='list-group-item'><strong>Filename: </strong>{{ tracingCtx.currentTrace.functions[inspectorModel.item.id].module.filename }}</li>
      <li ng-show="tracingCtx.currentTrace.functions[inspectorModel.item.id].start.line" class='list-group-item'><strong>Line: </strong>{{ tracingCtx.currentTrace.functions[inspectorModel.item.id].start.line }}</li>
      <li ng-show="tracingCtx.currentTrace.functions[inspectorModel.item.id].start.column" class='list-group-item'><strong>Column: </strong>{{ tracingCtx.currentTrace.functions[inspectorModel.item.id].start.column }}</li>

      <li class='list-group-item'>
        <strong>Total Cost: </strong>{{ msFormat(inspectorModel.item.cost) }}
      </li>

      <li class='list-group-item'>
        <strong>Self Cost: </strong>{{ msFormat(inspectorModel.item.selfCost) }}
      </li>

      <li class='list-group-item'>
        <strong>Child Cost: </strong>{{ msFormat(inspectorModel.item.childCost) }}
      </li>

      <li class='list-group-item'>
        <strong>Total Percentage: </strong>{{ inspectorModel.item.totalPct }}%
      </li>

      <li class='list-group-item'>
        <strong>Self Percentage: </strong>{{ inspectorModel.item.selfPct }}%
      </li>

      <li class='list-group-item'>
        <strong>Child Percentage: </strong>{{ inspectorModel.item.childPct }}%
      </li>

    </ul>
  </div>
</div>
