<div class="panel" id="TracingTransactionHistoryContainer">
  <div class="panel-heading section-header">
    <h2>Trace History</h2>
    <sl-popover-help name="trace-transhistory"></sl-popover-help>
  </div>


  <div class="hidden alert alert-default" role="help-description">
    <p>
      Trace sequences are identifiable routes through a program, such as all of the code invoked to respond to an incoming http request.
      The list below contains all of the idenfitied routes active in the program during the profiling window.
    </p>
    <p>
      Select any trace below to see the distinct code paths that handle the trace.  Each code path can be clicked on as well to see
      details on that individual code path (including callback delays and a flame graph of execution time)
    </p>
  </div>
  <!--<span class="loading" sl-common-loading-indicator size="large" ng-show="showTransactionHistoryLoading"></span>-->

  <ul data-hook='transaction-list-cont' class='transactions list-group'>
    <header class='list-group-item'>
      <table class="ui-table">
        <thead>
        <tr>
          <th class='transaction-route'>Trace Route</th>
          <th class='transaction-average-mean'>Mean Processing Time</th>
        </tr>
        </thead>
        <table>
    </header>
  </ul>
</div>
