<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">
      <div class="common-instance-view-container">
        <section class="sl-styleguide" ng-controller="StyleguideController">
          <h1>Styleguide</h1>
          <sl-styleguide-module-color></sl-styleguide-module-color>
          <sl-styleguide-module-text></sl-styleguide-module-text>
          <sl-styleguide-module-forms></sl-styleguide-module-forms>
          <sl-styleguide-module-buttons></sl-styleguide-module-buttons>
          <sl-styleguide-module-tables></sl-styleguide-module-tables>
          <sl-styleguide-module-popovers></sl-styleguide-module-popovers>
          <sl-styleguide-module-message></sl-styleguide-module-message>
          <sl-styleguide-module-menus></sl-styleguide-module-menus>
        </section>
      </div>
    </div>
  </div>
</div>


