<div class="container-fluid">
  <div class="row">
    <h2>Layout Main</h2>
  </div>
  <div class="row" id="LayoutMainContainer">
    <div class="col-xs-6">
      <form role="form" name="LayoutForm">
        <div class="form-group">
          <label>layout name</label>
          <input class="form-control" type="text" ng-model="currLayout.name">
          <input type="button" ng-click="createNewLayout()" class="form-control" value="New Layout">
        </div>
        <div class="form-group" ng-show="isShowAddRowControls()">
          <input class="form-control" type="button" ng-click="addNewRow()" value="add row">
          <input class="form-control" type="button" ng-click="closeAddNewRow()" value="close" ng-show="isAddRowFormVisible()">
          <div>
            list of rows here
          </div>
        </div>
      </form>
      <form role="form" name="ColumnConfigForm" ng-show="isColumnConfigFormVisible()">
        <div class="form-group">
          <label>size</label>
          <select class="form-control" ng-model="currNewColumnConfig.targetResolution">
            <option value="xs">extra small</option>
            <option value="sm">small</option>
            <option value="md">medium</option>
            <option value="lg">large</option>
          </select>
        </div>
        <div class="form-group">
          <label>colspan</label>
          <select class="form-control" ng-model="currNewColumnConfig.targetColSpan">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <input type="button" value="add config" ng-model="curNewRow.currNewColumn" ng-click="addColumnConfig()">

        </div>
      </form>
      <input type="button" value="add col" ng-model="curNewRow.currNewColumn" ng-click="addColumn()">

    </div>
    <div class="col-xs-6">
      <pre>{{ currLayoutModel() | json}}</pre>
      <h3>templ col model</h3>
      <pre>{{ currColModel() | json}}</pre>
    </div>
  </div>
  <div class="row">
    layout list goes here
  </div>
  <div class="row">
    <div fundoo-rating
         rating-value="rating"
         max="10"
         on-rating-selected="saveRatingToServer(rating)"></div>
  </div>

</div>
