<div>
  <div>App Controller</div>
  <div><a target="_new" href="{{ localAppLink }}">{{ localAppLink }}</a> [{{ runningState }}]</div>
  <div>
    <div data-ui-type="table">
      <div data-ui-type="row">
        <div data-ui-type="cell">
          <button ng-click="stopApp()" class="btn btn-small">stop</button>
        </div>
        <div data-ui-type="cell">
          <button ng-click="isAppRunning()" class="btn btn-small">isAppRunning</button>
        </div>
        <div data-ui-type="cell">
          <button ng-click="getLocalAppLink()" class="btn btn-small">get app link</button>
        </div>
        <div data-ui-type="cell">
          <button ng-click="reStartApp()" class="btn btn-primary btn-small">restart</button>
        </div>
        <div data-ui-type="cell">
          <button ng-click="startApp()" class="btn btn-primary btn-small">start</button>
        </div>
      </div>
    </div>
  </div>
</div>
