<div>
  <form class="ui-form" name="form" ng-submit="loadProcesses(form)" novalidate>
    <div class="ui-form-group inline">
      <!-- host selector -->
        <label>
          <span class="ui-label-txt">Hostname:</span>
        </label>
        <div class="btn-group pm-host-select dropdown" dropdown ng-show="managerHosts"  is-open="status.isopen">
          <button type="button"
                  class="btn btn-default dropdown-toggle" dropdown-toggle>
            {{selectedPMHost.host}} : {{selectedPMHost.port}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" dropdown-menu>
            <li ng-repeat="host in managerHosts">
              <button class="link-cmd" ng-click="changePMHost(host)">{{host.host}}:{{host.port}}</button>
            </li>
            <li class="divider"></li>
            <li>
              <button class="link-cmd" ng-click="goToAddPM()">add PM Host</button>
            </li>
          </ul>
        </div>
        <input
          type="hidden"
          ng-model="candidateServerConfig"
          name="hostname"
          required />
    </div>
    <div class="ui-actions inline">
      <button class="ui-btn primary small" ng-disabled="form.$invalid">Load</button>
    </div>
  </form>
</div>
