<div class="sl-pid-selector">
  <div class="host-form-container">
    <div sl-pm-host-form
      on-update-processes="updateProcesses(processes, refresh)"
      on-load-host="updateHost(host)">
    </div>
  </div>
  <div class="extensions-container" ng-transclude ng-show="processes.length > 0">
  </div>
  <div class="selector-container" ng-show="_showPidSelector">
    <div sl-pm-processes processes="processes" multiple="multiple"
      show-supervisor="false" on-update-selection="updateSelection(selection)">
    </div>
  </div>
</div>
