<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">
      <div class="common-instance-view-container">
        <div class="licensing">
          <h1>Licenses</h1>

          <table class="licenses ui-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Features</th>
                <th>Activation Date</th>
                <th>Expiration Date</th>
                <th class="license-key">License Key</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(id, product) in allProducts">
                <td><div class="product">
                  <span class="txt">
                    <span class="description">{{product.description || id}}</span>
                  </span>

                  <!--<sl-popover-info-->
                    <!--icon="sl-icon sl-icon-question-mark"-->
                    <!--hideonpageclick="true"-->
                    <!--ng-if="errors.renewal[id]">-->
                    <!--<h4>{{errors.renewal[id].title}}</h4>-->
                    <!--<div class="body">-->
                      <!--<p>-->
                        <!--{{errors.renewal[id].message}}-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</sl-popover-info>-->
                </div></td>
                <td><div class="features">
                  <ul>
                    <li ng-repeat="feature in product.features" class="clearfix">
                      <div class="txt">
                        <img src="/images/checkbox_on_out.svg" ng-if="feature.access">
                        <img src="/images/checkbox_off.svg" ng-if="!feature.access">
                        <span
                          class="name"
                          ng-class="{ error: !feature.access }">
                          {{feature.description}}
                        </span>
                      </div>
                      <button
                        class="ui-btn accessory small"
                        ng-show="feature.license.isExpired"
                        ng-click="renewProductFeature(product, feature)">Renew</button>
                    </li>
                  </ul>
                </div></td>
                <td>
                  <div class="date activation-date">
                    <ul>
                      <li ng-repeat="feature in product.features">
                        {{feature.license.activationDate | amDateFormat:'MMMM Do YYYY'}}
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="date expiration-date">
                    <ul>
                      <li ng-repeat="feature in product.features">
                        {{feature.license.expirationDate | amDateFormat:'MMMM Do YYYY'}}
                      </li>
                    </ul>
                  </div>
                </td>
                <td><div class="license-key">
                  <ul>
                    <li ng-repeat="feature in product.features">
                      <sl-popover-info
                        ng-if="feature.license"
                        classes="medium"
                        icon="sl-icon sl-icon-key_out"
                        hideonpageclick="true"
                        onshow="selectLicenseText('#id-'+feature.license.id)">
                        <h4>License Key</h4>
                        <div class="body">
                          <form class="ui-form sans-style">
                            <textarea class="ui-textarea key" id="id-{{feature.license.id}}">{{feature.license.licenseKey}}</textarea>
                          </form>
                        </div>
                      </sl-popover-info>
                    </li>
                  </ul>
                </div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
