<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">
      <div class="common-instance-view-container">
        <div class="licensing">
          <h1>Licenses</h1>

          <div class="ui-msg-error" ng-show="hasErrors">
            <p ng-repeat="err in errors.generic">
              {{err.message}}
            </p>
          </div>

          <table class="licenses ui-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Features</th>
                <th>Activation Date</th>
                <th>Expiration Date</th>
                <th class="license-key">License Key</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(id, product) in allProducts">
                <td><div class="product">
                  <img src="/images/checkbox_on_out.svg" ng-if="product.license && !errors.renewal[id]">
                  <img src="/images/checkbox_off.svg" ng-if="!product.license">
                  <img src="/images/checkbox_partial_red_out.svg" ng-if="product.license && errors.renewal[id]">

                  <span class="description" ng-class="{ error: errors.renewal[id] }">{{product.info.description}}</span>

                  <sl-popover-info
                    icon="sl-icon sl-icon-question-mark"
                    hideonpageclick="true"
                    ng-if="errors.renewal[id]">
                    <h4>{{errors.renewal[id].title}}</h4>
                    <div class="body">
                      <p>
                        {{errors.renewal[id].message}}
                      </p>
                    </div>
                  </sl-popover-info>
                </div></td>
                <td><div class="features">
                  <ul>
                    <li ng-repeat="feature in product.features">
                      <img src="/images/checkbox_on_out.svg" ng-if="product.license.access[feature]">
                      <img src="/images/checkbox_off.svg" ng-if="!product.license.access[feature]">
                      <span
                        class="name"
                        ng-class="{ error: errors && !product.license.access[feature] }">
                        {{product.info.features[feature] || feature}}
                      </span>
                    </li>
                  </ul>
                </div></td>
                <td><div class="date activation-date" ng-if="product.license">{{product.license.activationDate | amDateFormat:'MMMM Do YYYY'}}</div></td>
                <td><div class="date expiration-date" ng-class="{ expired: product.license.isExpired }" ng-if="product.license">{{product.license.expirationDate | amDateFormat:'MMMM Do YYYY'}}</div></td>
                <td><div class="license-key">
                  <sl-popover-info
                    classes="medium"
                    icon="sl-icon sl-icon-key_out"
                    hideonpageclick="true"
                    onshow="selectLicenseText('#id-'+product.license.id)"
                    secondarybuttontext="Copy"
                    secondarybuttonaction="copyToClipboard('#id-'+product.license.id)">
                    <h4>License Key</h4>
                    <div class="body">
                      <form class="ui-form sans-style">
                        <textarea class="ui-textarea key" id="id-{{product.license.id}}">{{product.license.licenseKey}}</textarea>
                      </form>
                    </div>
                  </sl-popover-info>
                </div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
