<div class="profiler-profile" ng-class="{selected:profile.isSelected}">
  <div class="controls">
    <button ng-click="delete()">
      <span class="sl-icon sl-icon-x"></span>
    </button>
  </div>
  <div class="info">
    <span class="sl-icon sl-icon-file"></span>
    <span class="profile-id">
      {{profile.targetId}}
    </span>
    <span class="profile-date">
      {{profile.startTime | date : 'short'}}
    </span>
    <span class="profile-status">
      {{profile.status}}
    </span>
  </div>
<div>
