<form class="dialog-content ui-dialog-form medium">
  <div class="dialog-header">
    <div class="pull-right">
      <sl-ui-toggle togglers="profilerModeOpts"></sl-ui-toggle>
    </div>
    <h4 class="header">Profiler Settings
      <sl-popover-help name="smart-profiling"></sl-popover-help>
    </h4>
  </div>
  <div class="dialog-body" ng-show="profilerSettings.mode === 'smart'">
      <div class="dialog-input">
        <label for="exp-name" class="ui-label">Event Loop Execution Threshold</label>
        <input id="exp-name" class="ui-input" type="number" ng-model="profilerSettings.timeout">
        <span class="ui-units">ms</span>
      </div>
      <div class="dialog-input">
        <label for="exp-value" class="ui-label">Max Samples</label>
        <input id="exp-value" class="ui-input" type="number" ng-model="profilerSettings.limit">
        <span class="ui-units">cycles</span>
      </div>
  </div>
  <div class="dialog-footer">
    <div class="dialog-footer-group">
      <span class="dialog-summary" ng-show="profilerSettings.mode === 'smart'">
        Smart Profiler will profile any of the selected PIDs when its event loop
        stalls for more than {{profilerSettings.timeout}}ms, up to a maxiumum of
        {{profilerSettings.limit}} cycles.
      </span>
      <span class="dialog-summary" ng-show="profilerSettings.mode === 'full'">
        Full Profiler will profile the selected PID until the profiler
        is manually stopped.
      </span>
      <div class="dialog-buttons">
        <button class="ui-btn small" ng-click="hidePopover()">OK</button>
      </div>
  </div>
</form>
