<div data-id="DatasourceMainContainer">
  <div class="row">
    <div class="col-xs-5">
      <h1>Datasources</h1>
      <input type="button" ng-click="openDatasourceForm()" class="btn btn-sm btn-primary" value="new datasource" />
      <div datasource-editor-form ng-show="isShowDatasourceForm"></div>
      <accordion>
        <accordion-group heading="{{datasource.name}}" ng-repeat="datasource in datasources">
          <input type="button" value="get db schema" class="btn btn-sm btn-primary" ng-click="loadSchema(datasoruce.name)" ng-model="datasource" />
          <input type="button" value="test connection" class="btn btn-sm btn-info" />
          <pre>{{datasource | json}}</pre>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-xs-7">
      <div loading-indicator ng-show="isDsTablesLoadingIndicatorVisible"></div>
      <div schema-model-composer="apiSourceTables" ng-show="isSchemaModelComposerVisible()"></div>
      <div ng-show="isDsTableGridVisible">
        <input type="button" ng-click="selectAll()" class="btn btn-sm btn-info" value="select all" />
        <input type="button" ng-click="generateModels()" class="btn btn-sm btn-primary" value="get table schemas" />
        <strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
        <div class="datasource-list-grid gridStyle" ng-grid="dsTablesGridOptions"></div>
      </div>
    </div>
  </div>
</div>

