body{
    font-size:16px;
    padding-top: 65px;
}
.container{
    max-width:1200px;
}
ul{
    list-style:none;
    padding:0;
}

pre {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}
code {
    color:#000;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
#RegisterMainContainer {

}
#RegisterMainContainer .center_div, #LoginMainContainer .center_div{
    padding:4rem;
    border:1px solid #eeeeee;
    border-radius:1rem;
    width:50% /* value of your choice which suits your alignment */
}
#RegisterMainContainer form {
    margin:0 3rem 0 3rem;
}
#LoginMainContainer form {
    margin:0 5rem 0 5rem;
}
