body{
    font-size:16px;
    padding-top: 65px;
}
.container{
    max-width:1200px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: transparent;
    outline-color: transparent;
}
ul{
    list-style:none;
    padding:0;
}

pre {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}
code {
    color:#000;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
/*

    growl

*/
.growl{
    top:60px;
}
/*

    Datasource

*/
.model-schema-editor-source-table-table {
    border:1px solid #dddddd;
    border-radius:4px;
    width:100%

}
.model-schema-editor-source-table-table th {
    background-color:darkgreen;
    color:#ffffff;
    font-weight: bold;
}
.model-schema-editor-source-table-table td{
    font-size:125%;
    border:1px solid #eeeeee;

}
/*

api

*/
.api-list-grid {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}
.datasource-list-grid {
    border: 1px solid rgb(212,212,212);
    min-height: 1000px
}
.api-grid-ctrl-col{
    text-align: center;
    margin:0 auto 0 auto;
}
#RegisterMainContainer {

}
#RegisterMainContainer .center_div, #LoginMainContainer .center_div{
    padding:4rem;
    border:1px solid #eeeeee;
    border-radius:1rem;
    width:50% /* value of your choice which suits your alignment */
}
#RegisterMainContainer form {
    margin:0 3rem 0 3rem;
}
#LoginMainContainer form {
    margin:0 5rem 0 5rem;
}
/*

    models

*/
.name-not-unique {
    background-color: #CFD496;
}
.warning-message {
    line-height: 1.5rem;
    display:block;
    color:darkgreen;
}
.model-property-editor-container {
    max-width:50rem;
}
.default-model-editor-controls-list li{
    display: inline-block;
    transition: 0.4s all ease-out;
    -webkit-transition: 0.4s ease-out all;

}
.default-model-editor-controls-list li.ng-hide-add,
.default-model-editor-controls-list li.ng-hide-remove {
    display: inline-block !important;
}
.default-model-editor-controls-list li.ng-hide-remove, .default-model-editor-controls-list li.ng-hide-add.ng-hide-add-active{
    margin-left: -80px;
    opacity: 0;
}

.default-model-editor-controls-list li.ng-hide-remove.ng-hide-remove-active, .default-model-editor-controls-list li.ng-hide-add{
    margin-left: 0;
    opacity: 1;
}
/*

    ide container

*/
.top-level-container {
    border: 1px solid #cccccc;
    border-radius: .6rem;
    /*padding:.5rem;*/
    /*height:600px;*/
    overflow:scroll;

}


/*

Main Tree Nav

*/
#MainNavSearchContainer {

}
.nav-search-list {
    padding:0;
    margin:0;
}
.nav-search-list li {
    display:inline;
}
.main-search-input {
    border:1px solid #dddddd;
    border-radius:.4rem;
    width:10rem;
}
/*


    Model Instance Editor

*/
.table-header-cell {
    padding-left:1.4rem;
}
.model-instance-outer-container {
    max-width:80rem;
    padding:1.3rem;
    border: 1px solid #eeeeee;
    border-radius:2rem;
}
.model-instance-header {
    display:inline;
}
.is-closed {
    display: none;
}
.is-open {
    display: block;
}
.model-instance-header-btn {
    text-align: left;
    padding-left:4rem;
}
.model-instance-editor-input {
    border:1px solid #dddddd;
    border-radius:.3rem;
    margin:.4rem;
}
.model-instance-container {

}
.model-instance-details-container [data-state="isOpen"] {
    display:block;
}
.model-instance-details-container [data-state="isClosed"] {
    display:none;
}
/*

    Data Table Grid

*/
[data-ui-type="table"] {
    display: table;
}
[data-ui-type="row"] {display: table-row;}
[data-ui-type="cell"] {
    display: table-cell;
}
/*

    model properties table

*/
.model-instance-property-list [data-ui-type="cell"] {
    text-align:center;
    padding:0;
    margin:0;
}

.props-data-type-cell {
    width:7rem;
    text-align:center;

}
.props-name-cell {
    width:18rem;
}
.props-name-cell .btn{
    text-align: left;
    padding-left:2rem;
}
.props-isid-cell{
    width:3rem;
    text-align:center;
}
.props-default-value-cell{
    width:18rem;
}
.props-validation-cell{
    width:7rem;
    text-align:center;
}
.props-map-cell{
    width:5rem;
    text-align:center;
}
.props-connection-cell{
    width:5rem;
    text-align:center;
}
.model-details-pocket-editor-container {
    border-right:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-radius:1.3rem;
    padding-left:2rem;

}
.model-instance-property-table-header-row {
    background-color:#08592B;
    color:#ffffff;
    font-size:110%;
}
/*

    Model Properties

*/
.pocket-editor-table [data-ui-type="cell"] {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}


/*

    Pocket Popover

*/
.pocket-popover-container {
    position: relative;
}
.pocket-popover {
    position:absolute;
    padding:1rem;
    border:1px solid #dddddd;
    border-radius:2rem;
    background-color:#efefef;
    z-index: 4000;
}
.popover-header-container {

}
.popover-content-container {

}
/*

    FunDoo Rating Demo

*/
.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}

