/* @override
	http://0.0.0.0:3003/style/dev/icons.css
	http://0.0.0.0:3003/style/src/icons.css
	http://0.0.0.0:4800/style/src/icons.css */
/* version 0.0.1 see google docs ./Design -> Icons for src files and a backup of icomoon.io export */
/* remember to modify path name to ../fonts/ when copying icomoon style.css file into icons.less */
/* cut-n-paste these rules from icomoon exported style.css file */
/* --------------------------------------- */
/* ------ BEGIN CUT AND PASTE HERE ------- */
/* --------------------------------------- */
@font-face {
  font-family: 'Strongloop';
  src: url('../fonts/Strongloop.eot?-v6x80a');
  src: url('../fonts/Strongloop.eot?#iefix-v6x80a') format('embedded-opentype'), url('../fonts/Strongloop.woff?-v6x80a') format('woff'), url('../fonts/Strongloop.ttf?-v6x80a') format('truetype'), url('../fonts/Strongloop.svg?-v6x80a#Strongloop') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="sl-icon-"],
[class*=" sl-icon-"] {
  font-family: 'Strongloop';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sl-icon-checkmark-outline:before,
.discovery-grid-container .ngRow .sl-icon:before {
  content: "\e615";
}
.sl-icon-box-arrow-down:before,
.sl-icon-contextmenu:before {
  content: "\e600";
}
.sl-icon-link:before {
  content: "\e601";
}
.sl-icon-file:before {
  content: "\e602";
}
.sl-icon-minus:before {
  content: "\e603";
}
.sl-icon-minus-thick:before {
  content: "\e604";
}
.sl-icon-search:before {
  content: "\e605";
}
.sl-icon-question-mark:before {
  content: "\e606";
}
.sl-icon-plus:before {
  content: "\e607";
}
.sl-icon-plus-thick:before {
  content: "\e608";
}
.sl-icon-plus-sign:before {
  content: "\e609";
}
.sl-icon-play:before {
  content: "\e60a";
}
.sl-icon-on-off:before {
  content: "\e60b";
}
.sl-icon-logo:before {
  content: "\e60c";
}
.sl-icon-help:before {
  content: "\e60d";
}
.sl-icon-lightning:before {
  content: "\e60e";
}
.sl-icon-folder:before {
  content: "\e60f";
}
.sl-icon-down-arrow:before {
  content: "\e610";
}
.sl-icon-database:before {
  content: "\e611";
}
.sl-icon-close:before {
  content: "\e612";
}
.sl-icon-chevron-down:before {
  content: "\e613";
}
.sl-icon-checkmark:before,
.discovery-grid-container .ngRow.selected .sl-icon:before {
  content: "\e614";
}
.sl-icon-arrow-down:before {
  content: "\e616";
}
.sl-icon-arrow-right:before {
  content: "\e617";
}
/* --------------------------------------------------- */
/* ------------- END CUT AND PASTE HERE -------------- */
/* --------------------------------------------------- */
/* begin custom rules, needs to persist across font style updates, these are not included in icomoon export style.css */
.sl-icon {
  position: relative;
  top: 1px;
  display: inline-block;
}
.sl-icon-database:before {
  font-size: 16pt;
}
.sl-icon-folder:before {
  margin-right: 10px;
  font-size: 12pt;
}
.sl-icon-on-off:before {
  color: #01582A;
  font-size: 18pt;
  margin-left: 2rem;
}
.sl-icon-file:before {
  font-weight: lighter;
}
/* end custom rules */
/* renamed */
/*connecticon -> link*/
/*document -> file*/
/*off -> on-off*/
/*folder-open -> folder*/
/*question-sign -> help*/
/*remove -> close*/
/*navbranch-open -> arrow-down*/
/*navbranch-closed -> arrow-right*/
/*contextmenu -> box-arrow-down*/
/*minus-sign -> minus-thick*/
/*plus-sign -> plus-thick*/
/* begin feature abstraction class name wrapping icons.less class names */
.discovery-grid-container .ngRow.selected .sl-icon:before {
  color: #4a90e2;
}
.sl-landing-page {
  padding: 4.7rem 3.13rem;
  font-weight: 100;
  color: #555555;
}
.sl-landing-page > header {
  text-align: center;
  width: 90%;
  margin: 0 auto 3rem;
}
.sl-landing-page > header h1 {
  font-weight: 100;
  font-size: 3.2rem;
}
.sl-landing-page > header p {
  font-weight: 100;
  font-size: 2rem;
}
.sl-landing-page .sl-apps {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
.sl-landing-page .sl-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 20rem;
  max-width: 40rem;
  display: block;
  margin: 2.5rem auto 5rem;
  cursor: pointer;
}
.sl-landing-page .sl-app .app-container {
  height: 90%;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}
.sl-landing-page .sl-app:hover .app-container {
  background-color: #eeeeee;
}
.sl-landing-page .sl-app:hover a {
  text-decoration: none;
}
.sl-landing-page .sl-app a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.sl-landing-page .sl-app .app-image::before {
  margin-right: 0;
  font-size: 4rem;
  color: #7dbd33;
}
.sl-landing-page .sl-app .app-description {
  font-size: 1.5rem;
  margin: .8rem;
}
.sl-landing-page .sl-app .app-name {
  font-size: 2rem;
  color: #555555;
  margin-top: .8rem;
}
.sl-landing-page .sl-app a.app-launch {
  font-size: 1.5rem;
  color: #4a90e2;
}
.sl-app-selector {
  display: inline-block;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .sl-landing-page .sl-app {
    width: 24rem;
    display: inline-block;
    margin-right: 2.5rem;
    margin-top: 0;
  }
}
.sl-ui-select {
  border-radius: 0.4rem;
  display: inline-block;
  background-color: #7dbd33;
  position: relative;
  cursor: pointer;
  height: 4.3rem;
  font-size: 14px;
}
.sl-ui-select:hover {
  background-color: #65a718;
}
.sl-ui-select span.selected {
  display: block;
  color: #ffffff;
  padding: 1rem 4.5rem 1rem 1.5rem;
  position: relative;
  z-index: 2;
  border-radius: 0.4rem;
  background-color: inherit;
}
.sl-ui-select span.selected .sl-icon {
  font-size: .85rem;
  color: #ffffff;
  position: absolute;
  top: 1.55rem;
  right: 1.5rem;
}
.sl-ui-select.open {
  background-color: #ffffff;
  border-radius: 0.4rem 0.4rem 0 0;
}
.sl-ui-select.open span.selected,
.sl-ui-select.open span.selected .sl-icon {
  color: #7dbd33;
}
.sl-ui-select.open span.selected {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.sl-ui-select.open span.selected::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background: #ffffff;
  height: 7px;
  bottom: -4px;
  left: 0;
}
.sl-ui-select .selected {
  display: block;
}
.sl-ui-select .selected .sl-icon {
  color: #4a90e2;
}
.sl-ui-select .selected:hover {
  color: #ffffff;
}
.sl-ui-select .selected:hover .sl-icon {
  color: #ffffff;
}
.sl-ui-select ul {
  cursor: default;
  display: block;
  position: absolute;
  top: 4.3rem;
  width: 20rem;
  padding: 1rem 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.sl-ui-select ul li {
  display: block;
  padding: 0 1rem;
}
.sl-ui-select ul a {
  display: block;
  padding: .5rem 2rem .5rem 1em;
  text-decoration: none;
  border-radius: 0.3rem;
  color: #999999;
  position: relative;
}
.sl-ui-select ul a:hover {
  background-color: #7dbd33;
  color: #ffffff;
}
.sl-ui-select ul a .sl-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}
