.sl-landing-page {
  padding: 4.7rem 3.13rem;
}
.sl-landing-page .sl-apps {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
.sl-landing-page .sl-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 18rem;
  max-width: 40rem;
  display: block;
  margin: 2.5rem auto 5rem;
  cursor: pointer;
}
.sl-landing-page .sl-app .app-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #999999;
  height: 90%;
  width: 100%;
}
.sl-landing-page .sl-app:hover .app-image {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  border-color: #555555;
}
.sl-landing-page .sl-app:hover a {
  text-decoration: none;
}
.sl-landing-page .sl-app a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1.25rem;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .sl-landing-page .sl-app {
    width: 20rem;
    display: inline-block;
    margin-right: 2.5rem;
    margin-top: 0;
  }
}
