<div data-ui-type="table" data-id="MainBody">
  <div data-ui-type="row">
    <div data-ui-type="cell" data-id="MainSidebarContainer" class="top-level-container">
      <div data-ui-type="table">
        <div data-ui-type="row">
          <div data-ui-type="cell">
            <div sl-ia-main-nav data-id="MainNavContainer"></div>
          </div>
        </div>
        <div data-ui-type="row">
          <div data-ui-type="cell">
            <div sl-ia-main-controls data-id="MainControlsContainer"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-ui-type="cell"
         data-id="MainContentContainer"
         class="top-level-container">
      <div sl-composer-exception-view></div>
      <div sl-ia-main-content></div>
    </div>
  </div>
  <sl-ia-nav-model-context trigger-selector=".btn-nav-context">
  </sl-ia-nav-model-context>
  <sl-ia-nav-datasource-context trigger-selector=".btn-ds-nav-context"
    discover-models="createModelsFromDS(datasource)">
  </sl-ia-nav-datasource-context>
</div>
