<div data-id="DatasourceDiscoveryContainer">

  <div sl-common-loading-indicator ng-show="isDsTablesLoadingIndicatorVisible"></div>
  <div schema-model-composer="apiSourceTables" ng-show="isSchemaModelComposerVisible()"></div>
  <div ng-show="isDsTableGridVisible">
    <span>Select the tables you want to model</span>
    <strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
    <div class="discovery-schema-list-grid" ng-style="getTableStyle()" ng-grid="dsTablesGridOptions"></div>
  </div>

</div>

