.sl-landing-page {
  padding: 0;
  font-weight: 100;
  color: @gray;
  //background: #dedede url(/images/arc_white.svg) no-repeat 0 15rem;
  min-height: 100rem;

  > header {
    text-align: center;
    background: #dedede;
    border-radius: 0;
    height: 20rem;

    h1 {
      font-weight: 100;
      font-size: 3.2rem;
      margin: 0 0 1rem 0;
      padding-top: 2rem;
    }

    p {
      font-weight: 100;
      font-size: 2rem;
      margin: 0;
    }
  }

  > footer{
    .footer-arc {
      background: #dedede;
      border-radius: 0;
      min-height: 20rem;
    }
    .footer-spacer {
      min-height: 40rem;
      background: #dedede;
    }
  }

  .sl-apps {
    text-align: center;
    margin: 0 auto;
  }

  .sl-app {
    .box-sizing(border-box);
    text-align: center;
    width: 12rem;
    height: 12rem;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;

    &.app-placeholder {
      display: none;
      cursor: default;

      .app-name {
        visibility: hidden;
      }
    }

    .app-container {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    .app-unsupported {
      opacity: 0.5;
    }

    &:hover {
      .app-container {
        //background-color: @gray-lighter;
      }

      .app-image {
        display: none;
      }

      .app-image-hover {
        display: block;
      }

      a {
        text-decoration: none;
      }
    }

    .app-name {
      .box-sizing(border-box);
      display: block;
      width: 100%;
    }

    .app-image-hover {
      display: none;
    }

    .app-image::before {
      margin-right: 0;
      font-size: 4rem;
      color: @link-color;
    }

    .app-description {
      font-size: 1.5rem;
      margin: .8rem;
    }

    .app-name {
      font-size: 1.5rem;
      color: @gray;
      margin-top: .8rem;
    }

    a.app-launch {
      font-size: 1.5rem;
      color: @link-color2;
    }

    &:last-child {
      //margin-right: 0;
    }
  }
}

.sl-app-selector {
  display: inline-block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 480px) {
  .sl-landing-page {
    > header {
      border-radius: 0 0 100% 100%;
    }
    > footer .footer-arc {
      border-radius: 100% 100% 0 0;
    }
  }
}

@media screen and (min-width: 1220px) {
  .sl-landing-page {
    .sl-app {
      display: inline-block;

      &.app-placeholder {
        display: inline-block;
      }
    }
  }
}
