<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">

      <div main-nav-tree></div>

    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-10">

          <div main-content-region>
            <div greeting-main></div>
            picture a tab view with multiple tabs open
            draggable
          </div>


        </div>
        <div class="col-xs-2">

          property detail view

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          api data flow area

        </div>
      </div>
    </div>
  </div>
</div>
