<div class="row">
  <div instance-search></div>
  <abn-tree tree-data="my_data"
            tree-control="my_tree"
            on-select="my_tree_handler(branch)"
            expand-level="2"
            initial-selection="Granny Smith"></abn-tree>
  <hr>
  <div ui-tree>
    <ol ui-tree-nodes="" ng-model="list">
      <li ng-repeat="item in list" ui-tree-node>
        <div ui-tree-handle>
          {{item.title}}
        </div>
        <ol ui-tree-nodes="" ng-model="item.items">
          <li ng-repeat="subItem in item.items" ui-tree-node>
            <div ui-tree-handle>
              {{subItem.title}}
            </div>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  <hr>
  <ul>
    <li>models</li>
    <li>datasources</li>
  </ul>
</div>
