<div class="sl-landing-page">
  <header>
    <div class="banner-text">
      <h1 class="landing-title">StrongLoop Arc</h1>
      <p>A visual suite for the StrongLoop API Platform</p>
    </div>
  </header>
  <div class="sl-apps">
    <sl-landing-app-placeholder ng-repeat="placeholder in [2, 3]"></sl-landing-app-placeholder>
    <sl-landing-app ng-repeat="app in apps" app="app"></sl-landing-app>
    <sl-landing-app-placeholder ng-repeat="placeholder in [3, 2]"></sl-landing-app-placeholder>
  </div>
  <footer>
    <div class="footer-spacer"></div>
  </footer>
</div>
