<div class="ui-popover info">
  <a href
     class="ui-icon-link"
     ng-click="showPopover = !showPopover"
     ng-mouseleave="hidePopover()">
      <span
        class="sl-icon toggle-menu-link"
        ng-class="icon"
        title="{{title}}"></span>
  </a>
  <div class="ui-popover-content"
       ng-class="{ bottom: position == 'bottom' }"
       ng-show="showPopover"
       ng-mouseenter="cancelHide()"
       ng-mouseleave="!hideOnPageClick && ( showPopover = false )">
    <div class="ui-popover-body" ng-transclude></div>
    <footer>
      <button class="ui-btn primary" ng-click="showPopover = false">Ok</button>
    </footer>
  </div>
</div>
