<div class="ui-popover">
  <a class="ui-icon-link"
     href
     ng-click="showHelp = !showHelp">
    <i class="{{iconclass}}"></i>
  </a>
  <div class="ui-popover-content" ng-class="{ left: position == 'left' }" ng-show="showHelp">
    <span class="ui-arrow-left" ng-show="position != 'left'"></span>
    <span class="ui-arrow-right" ng-show="position == 'left'"></span>
    <i class="sl-icon sl-icon-close" ng-click="showHelp = false"></i>
    <h4 class="ui-popover-title">{{title}}</h4>
    <div class="ui-popover-body" ng-bind-html="content | rawHtml"></div>
    <div sl-common-loading-indicator size="small" ng-show="loading"></div>
  </div>
</div>
