<div class="ui-popover info {{classes}}">
  <a href
     class="ui-icon-link"
     ng-click="showPopover = !showPopover"
     ng-mouseleave="hidePopover()">
      <span
        class="sl-icon toggle-menu-link"
        ng-class="icon"
        title="{{title}}"></span>
  </a>
  <div class="ui-popover-content"
       ng-class="{ bottom: position == 'bottom' }"
       ng-show="showPopover"
       ng-mouseenter="cancelHide()"
       ng-mouseleave="!hideOnPageClick && ( showPopover = false )">
    <div class="ui-popover-body" ng-transclude></div>
    <footer class="clearfix">
      <button
        type="button"
        class="ui-btn secondary pull-left"
        ng-if="secondaryButtonText">{{secondaryButtonText}}</button>
      <button
        class="ui-btn primary pull-right"
        ng-click="showPopover = false">OK</button>
    </footer>
  </div>
</div>
