<div class="ui-popover info">
  <span
    class="sl-icon toggle-menu-link"
    ng-class="icon"
    ng-click="showPopover = !showPopover"
    ng-mouseleave="hidePopover()"
    title="{{title}}"
    ></span>
  <div class="ui-popover-content"
       ng-class="{ bottom: position == 'bottom' }"
       ng-show="showPopover"
       ng-mouseenter="cancelHide()"
       ng-mouseleave="!hideOnPageClick && ( showPopover = false )">
    <div class="ui-popover-body" ng-transclude></div>
    <footer>
      <button class="ui-btn primary" ng-click="showPopover = false">Ok</button>
    </footer>
  </div>
</div>
