<div class="ui-popover menu">
  <span
    class="sl-icon toggle-menu-link"
    ng-class="icon"
    ng-click="showPopover = !showPopover"
    ng-mouseleave="hidePopover()"
    title="{{title}}"
    ></span>
  <div class="ui-popover-content"
       ng-class="{ bottom: position == 'bottom' }"
       ng-show="showPopover"
       ng-mouseenter="cancelHide()"
       ng-mouseleave="!hideOnPageClick && ( showPopover = false )">
    <span class="ui-arrow-top" ng-show="position == 'bottom'"></span>
    <div class="ui-popover-body"></div>
  </div>
</div>
